<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="shortcut icon" href="./assets/logos/pnp-color-mark.png">




</head>
<body>
    


            <!-- Hero Section -->
            <div class="container-fluid min-vh-50 pt-6" style="margin-top: 40px;" >
                <div class="row text-center-xs d-middle justify-content-evenly">
                    <!-- note: z-index on columns are because of AOS plugin -->
                    <div class="col-12 col-md-5 pb-5 z-index-2 d-flex justify-content-start"  data-aos="fade-up" data-aos-delay="0">
                        <div class="mb-5 ps-4">
                            <h2 class="text-danger fw-bold mb-2">All-in-One</h2> 
                            <h2 class="fw-bold mb-4" style="font-size: 42px;">
                                AI Seamless Integration
                                Solution for Your
                                Business Success
                            </h2>

                            <p class="mb-6" style="font-size: 20px;">
                                Looking for cutting-edge AI solutions without breaking the bank? PnPAI is your answer.
                                Say goodbye to exorbitant costs associated with AI implementation. Our platform offers
                                state-of-the-art, cost-effective AI solutions that bring innovation within reach for
                                businesses of all SMEs.
                            </p>
                            <button class="btn btn-danger px-4" >Join Now</button>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 pb-5 pt-4 pe-0 z-index-1 d-flex justify-content-end" data-aos="fade-up" data-aos-delay="200">
                        <!-- svg image -->
                        <img class="img-fluid" src="../../../../../assets/images/ecommerce/pnp-hero-img.svg" width="700">
                    </div>
                </div>
            </div>

            <!-- why pnp Section -->
            <div class="container-fluid  pt-4  pnp-bg-features-container">
                <div class="pb-5"  data-aos="fade-up" data-aos-delay="0">
                    <div class="mb-5">
                        <h5 class="fs-1 fw-bold mb-5 mt-6 text-white text-center">
                            Empowering Your Business 
                            <br>with <span class="text-primary">AI Excellence</span> 
                        </h5>
                        <div class="row justify-content-evenly mt-6 ">
                            <div class="col-md-3" >
                                <div class="bg-white shadow-lg rounded-3 text-center py-3" >
                                    <img src="../../../../../assets/images/ecommerce//pnp-feat-one.svg" alt="">
                                    <p class="fs-3 fw-bolder">Effortless Integration</p>
                                    <p class="fs-5 fw-medium">Ready-to-deploy solutions for
                                        swift implementation</p>
                                </div>
                            </div>
                            <div class="col-md-3" >
                                <div class="bg-white shadow-lg rounded-3 text-center py-3" >
                                    <img src="../../../../../assets/images/ecommerce//pnp-feat-two.svg" alt="">
                                    <p class="fs-3 fw-bolder">Data Security</p>
                                    <p class="fs-5 fw-medium px-5">Containerized solutions ensuring
                                        heightened data privacy</p>
                                </div>
                            </div>
                            <div class="col-md-3" >
                                <div class="bg-white shadow-lg rounded-3 text-center py-3" >
                                    <img src="../../../../../assets/images/ecommerce//pnp-feat-three.svg" alt="">
                                    <p class="fs-3 fw-bolder">Simplify Development</p>
                                    <p class="fs-5 fw-medium px-5">Trim development time and effort
                                        with our straightforward process.</p>
                                </div>
                            </div>

                        </div>

                        <div class="d-flex justify-content-center" >
                            <button class="btn btn-primary px-4 mt-7" >Join Our Beta Program</button>
                        </div>
                    </div>
                </div>

                
            </div>

            <!-- Feature Section -->
            <div class="container-fluid mt-6 text-xl-center" >
                <h4>From Complexity to Simplicity</h4>
                
                <h2 class="h1 fw-bold mb-4">
                    Simplifying <span class="text-primary fw-bold">AI</span>
                    <br>
                </h2>
                <div class="row g-xl-5 justify-content-evenly">
                    <div class="col-12 col-lg-5 mb-5">

                        <div class=" bg-light" >
                            <img src="../../../../../assets/images/ecommerce/without-img.svg" alt="" srcset="" style="width: 100%;">
                            <div class="d-flex flex-column">

                                <div class="bg-white rounded-3 mt-3 px-4 mx-3 py-4" >
                                    <div class="d-flex align-items-center" >
                                        <i class="fi fi-close text-white bg-darkblue rounded-circle d-flex align-items-center justify-content-center" style=" font-size: 45% !important; width: 25px ;height: 25px;" ></i>
                                        <p class="fs-4 fw-bold ms-3">Build Data/AI team</p>
                                    </div>
                                    <p class="mt-4 text-start">Establishing a dedicated Data/AI team, a resource-intensive endeavor demanding time, expertise, and financial commitment.</p>
                                </div>
                                
                                <div class="bg-white rounded-3 mt-3 px-4 mx-3 py-4" >
                                    <div class="d-flex align-items-center" >
                                        <i class="fi fi-close text-white bg-darkblue rounded-circle d-flex align-items-center justify-content-center" style=" font-size: 45% !important; width: 25px ;height: 25px;" ></i>
                                        <p class="fs-4 fw-bold ms-3">Define Project Scope</p>
                                    </div>
                                    <p class="mt-4 text-start">Defining project scopes was a meticulous process, often involving exhaustive planning sessions to outline the intricate details of AI projects.</p>
                                </div>

                                <div class="bg-white rounded-3 mt-3 px-4 mx-3 py-4" >
                                    <div class="d-flex align-items-center" >
                                        <i class="fi fi-close text-white bg-darkblue rounded-circle d-flex align-items-center justify-content-center" style=" font-size: 45% !important; width: 25px ;height: 25px;" ></i>
                                        <p class="fs-4 fw-bold ms-3">Develop Models</p>
                                    </div>
                                    <p class="mt-4 text-start">The development phase was a substantial undertaking, requiring substantial investment in building AI models from scratch.</p>
                                </div>

                                <div class="bg-white rounded-3 mt-3 px-4 mx-3 py-4" >
                                    <div class="d-flex align-items-center" >
                                        <i class="fi fi-close text-white bg-darkblue rounded-circle d-flex align-items-center justify-content-center" style=" font-size: 45% !important; width: 25px ;height: 25px;" ></i>
                                        <p class="fs-4 fw-bold ms-3">Test & Validate</p>
                                    </div>
                                    <p class="mt-4 text-start">Rigorous testing and validation of the developed models consumed significant resources, time, and effort to ensure functionality and accuracy.</p>
                                </div>

                                <div class="bg-white rounded-3 mt-3 px-4 mx-3 py-4" >
                                    <div class="d-flex align-items-center" >
                                        <i class="fi fi-close text-white bg-darkblue rounded-circle d-flex align-items-center justify-content-center" style=" font-size: 45% !important; width: 25px ;height: 25px;" ></i>
                                        <p class="fs-4 fw-bold ms-3">Deploy</p>
                                    </div>
                                    <p class="mt-4 text-start">Deployment of trained models presented its own set of challenges, often requiring specialized technical expertise and a considerable amount of time.</p>
                                </div>

                                <div class="bg-white rounded-3 mt-3 px-4 mx-3 py-4" >
                                    <div class="d-flex align-items-center" >
                                        <i class="fi fi-close text-white bg-darkblue rounded-circle d-flex align-items-center justify-content-center" style=" font-size: 45% !important; width: 25px ;height: 25px;" ></i>
                                        <p class="fs-4 fw-bold ms-3">Monitor</p>
                                    </div>
                                    <p class="mt-4 text-start">Post-deployment, continuous monitoring of models demanded ongoing attention to ensure optimal  performance, stability, and adherence to objectives.</p>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-12 col-lg-5 mb-5">

                        <div class="bg-light" >
                            <img src="../../../../../assets/images/ecommerce/with-img.svg" alt="" srcset="" style="width: 100%;">
                            <div class="d-flex flex-column">

                                <div class="bg-primary text-white rounded-3 mt-4 px-4 mx-3 py-4" >
                                    <div class="d-flex align-items-center" >
                                        <i class="fi fi-check bg-white text-primary rounded-circle d-flex align-items-center justify-content-center fw-bolder" style=" font-size: 60% !important; width: 25px ;height: 25px;" ></i>
                                        <p class="fs-4 fw-bold ms-3">Define</p>
                                    </div>
                                    <p class="mt-4 text-start">Redefine your approach! Instead of extensive project scoping, with PnPAI, you define your industry and effortlessly select an AI use-case tailored for your specific business needs.</p>
                                </div>
                                <div class="bg-primary text-white rounded-3 mt-4 px-4 mx-3 py-4" >
                                    <div class="d-flex align-items-center" >
                                        <i class="fi fi-check bg-white text-primary rounded-circle d-flex align-items-center justify-content-center fw-bolder" style=" font-size: 60% !important; width: 25px ;height: 25px;" ></i>
                                        <p class="fs-4 fw-bold ms-3">Integrate</p>
                                    </div>
                                    <p class="mt-4  text-start">Say goodbye to complexity! PnPAI simplifies integration by providing intuitive tools to seamlessly connect with your data source. No technical acrobatics required.</p>
                                </div>
                                <div class="bg-primary text-white rounded-3 mt-4 px-4 mx-3 py-4" >
                                    <div class="d-flex align-items-center" >
                                        <i class="fi fi-check bg-white text-primary rounded-circle d-flex align-items-center justify-content-center fw-bolder" style=" font-size: 60% !important; width: 25px ;height: 25px;" ></i>
                                        <p class="fs-4 fw-bold ms-3">Train</p>
                                    </div>
                                    <p class="mt-4 text-start">Training made easy! PnPAI accelerates the process, allowing you to initiate training effortlessly. No need for extensive development phases; just start and innovate.</p>
                                </div>

                                <div class="bg-primary text-white rounded-3 mt-4 px-4 mx-3 py-4" >
                                    <div class="d-flex align-items-center" >
                                        <i class="fi fi-check bg-white text-primary rounded-circle d-flex align-items-center justify-content-center fw-bolder" style=" font-size: 60% !important; width: 25px ;height: 25px;" ></i>
                                        <p class="fs-4 fw-bold ms-3">Deploy</p>
                                    </div>
                                    <div class="text-start" >

                                        <p class="mt-4">The world is your stage! With PnPAI, deployment transcends traditional boundaries. You have the flexibility to deploy your trained AI model anywhere, adapting to your business ecosystem.</p>
                                        <br>
                                        <p>Embrace the future of AI integration with PnPAI. Our platform doesn't just simplify; it empowers you to redefine how you approach and benefit from artificial intelligence. Join us and experience a new era of AI possibilities</p>
                                    </div>
                                </div>
                            

                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!-- Feature Section -->
            <div class="container-fluid mt-6" >
                <div class="row g-xl-5 align-items-center justify-content-evenly">

                    <div class="col-12 col-lg-5 mb-5">

                        <h2 class="h1 fw-bold mb-4">
                            <span class="text-primary fw-bold">Features</span>
                            <br>
                            That Make AI implementation a Breeze
                        </h2>


                        <p class="lead mb-5">
                            Our platform boasts intuitive functionalities that simplify the complexities of AI
                            implementation.                        
                        </p>
                        <p class="lead mb-5">
                            No longer reserved for tech experts, AI becomes accessible to all with PnPAI’s user-
                            friendly interface and ready-to-deploy solutions. Experience the future of business
                            intelligence with a platform where AI isn’t a challenge—it’s a seamless, transformative
                            breeze.                        
                        </p>

                        <a href="contact-1.html" class="btn btn-primary btn-pill btn-soft">
                            How it works
                        </a>

                    </div>

                    <div class="col-12 col-lg-6 mb-5">

                        <div class="row gutters-md g-2 g-xl-4">

                            <div class="col-6 jarallax" data-jarallax-element="-20" style="transform: translate3d(0px, -4.88547px, 0px);">

                                <div class="bg-white shadow-xs rounded-xl p-4 mb-4 bg-primary-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
                                    <i class="fi fi-lightbulb fs-1"></i>
                                    <h3 class="h5 py-3">Multiple Industries Platform</h3>
                                    <p >
                                        Whatever your business type, PnPAI supports various industries
                                    </p>
                                </div>

                                <div class="bg-white shadow-xs rounded-xl p-4 mb-4 bg-warning-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
                                    <i class="fi fi-graph fs-1"></i>
                                    <h3 class="h5 py-3">Always Up-to-Date</h3>
                                    <p>
                                        Stay ahead with PnPAI's automatic updates, ensuring your AI solutions evolve to meet the latest industry standards.
                                    </p>
                                </div>

                            <div id="jarallax-container-3" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100;"><div style="pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; position: fixed;"></div></div></div>

                            <div class="col-6 jarallax" data-jarallax-element="30" style="transform: translate3d(0px, 7.3282px, 0px);">

                                <div class="bg-white shadow-xs rounded-xl p-4 mb-4 bg-success-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
                                    <i class="fi fi-brain fs-1"></i>
                                    <h3 class="h5 py-3">Easy to Integrate</h3>
                                    <p>
                                        Effortless implementation with PnPAI's user-friendly design for all technical levels.</p>
                                </div>

                                <div class="bg-white shadow-xs rounded-xl p-4 mb-4 bg-danger-soft-hover transition-bg-ease-150 text-decoration-none text-gray-800">
                                    <i class="fi fi-umbrella fs-1"></i>
                                    <h3 class="h5 py-3">Save Thousands on Dev Fees</h3>
                                    <p class="mb-4">
                                        PnPAI unleashes AI innovation affordably, cutting substantial development fees for businesses.
                                    </p>
                                </div>

                            <div id="jarallax-container-4" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100;"><div style="pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; position: fixed;"></div></div></div>

                        </div>

                    </div>

                </div>
            </div>

            <!-- Catalog Section -->
            <div class="bg-light container-fluid mt-0 pt-7" >
                <div class="mb-6">
                    <div class="d-flex justify-content-center">
                        <div class="me-5">
                            <img src="../../../../../assets/images/ecommerce//icon-header.svg" width="">
                        </div>
                        <div>
                            <h2 class="h1 fw-bold mb-4">
                                Explore All of Our
                                <br>
                                <span class="text-primary fw-bold">Ecommerce Catalog</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row text-muted justify-content-evenly">
                            
                    <div class="col-6 col-md-3 mb-5 shadow-xs px-5 py-4 rounded-3 justify-content-center d-flex flex-column align-items-center text-center">
                        <img src="../../../../../assets/images/ecommerce//icon-one.svg" alt="" srcset="" width="80">
                        <h2 class="h4 my-3 fw-bold ">Personalized Recommendations - Product Based</h2>
                        <p>Boost sales with AI-driven product suggestions</p>                  
                    </div>

                    <div class="col-6 col-md-3 mb-5 shadow-xs px-5 py-4 rounded-3 justify-content-center d-flex flex-column align-items-center text-center">
                        <img src="../../../../../assets/images/ecommerce//icon-two.svg" alt="" srcset="" width="80">
                        <h2 class="h4 my-3 fw-bold">Personalized Recommendations - Product Based</h2>
                        <p>Tailor product suggestions to individual customers</p>                  
                    </div>

                   <div class="col-6 col-md-3 mb-5 shadow-xs px-5 py-4 rounded-3 justify-content-center d-flex flex-column align-items-center text-center">
                        <img src="../../../../../assets/images/ecommerce//icon-three.svg" alt="" srcset="" width="80">
                        <h2 class="h4 my-3 fw-bold">Customer Segmentation</h2>
                        <p>Divide and conquer with Customer Segmentation for targeted marketing</p>                  
                    </div>
                </div>
                <div class="row text-muted justify-content-evenly">
                    <div class="col-6 col-md-3 mb-5 shadow-xs px-5 py-4 rounded-3 justify-content-center d-flex flex-column align-items-center text-center">
                        <img src="../../../../../assets/images/ecommerce//icon-four.svg" alt="" srcset="" width="80">
                        <h2 class="h4 my-3 fw-bold">Customer Churn Prediction</h2>
                        <p>Stay ahead by predicting customer churn</p>                  
                    </div>

                    <div class="col-6 col-md-3 mb-5 shadow-xs px-5 py-4 rounded-3 justify-content-center d-flex flex-column align-items-center text-center">
                        <img src="../../../../../assets/images/ecommerce//icon-five.svg" alt="" srcset="" width="80">
                        <h2 class="h4 my-3 fw-bold">Comments Sentiment Analysis</h2>
                        <p>Understand customer sentiment with Comments Sentiment Analysis</p>                  
                    </div>

                    <div class="col-6 col-md-3 mb-5 shadow-xs px-5 py-4 rounded-3 justify-content-center d-flex flex-column align-items-center text-center">
                        <img src="../../../../../assets/images/ecommerce//icon-sex.svg" alt="" srcset="" width="80">
                        <h2 class="h4 my-3 fw-bold">Price Optimization</h2>
                        <p>Maximize profits with Price Optimization</p>                  
                    </div>
    
                   
    
    
                </div>
            </div>

            <!-- Video Section -->
            <div class="section bg-light position-relative overflow-hidden overlay-dark overlay-opacity-5 bg-cover jarallax" style="background-image:url('../../../../../assets/images/ecommerce/bg-video.svg')">
				
				<div class="container position-relative z-index-2 d-middle py-5"> 
						
					<div class="text-center text-white py-5 p-0-xs bg-white py-3 px-7 rounded-lg shadow-xlg shadow-dark-lg" data-aos="fade-in" data-aos-delay="0" data-aos-offset="0">

						<!-- main title -->
						<h1 class="text-primary display-4 mb-0 fw-bold">
							How it works
						</h1>
						
						<!-- slogan -->
						<p class="text-danger h5 fw-normal mb-0">
							Get Ready for Excellence
						</p>

						<!-- play button -->
						<div class="clearfix mt-5">
							<span class="d-inline-block rounded-circle border border-primary border-3 p-1 transition-hover-zoom transition-all-ease-150 shadow-dark-lg">
								<a href="https://www.youtube.com/watch?v=I_fQh_HmF6s" 
									data-ajax-modal-type="video" 
									data-ajax-modal-size="modal-xl"
									data-ajax-modal-centered="true" 
									class="js-ajax-modal d-inline-flex bg-white text-dark rounded-circle align-items-center justify-content-center text-decoration-none" 
									style="width:60px;height:60px;">
                                    <svg width="34" height="34" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-play-fill border-danger" viewBox="0 0 16 16">  
                                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"></path>
                                    </svg>
								</a>
							</span>

							<small class="text-primary d-block mt-2">
								VIEW PRESENTATION
							</small>
						</div>
						<!-- /play button -->

					</div>

				</div>

				<div class="absolute-full w-100 overflow-hidden opacity-5 z-index-1">
					<img class="img-fluid" width="2000" height="2000" src="assets/images/masks/shape-line-lense.svg" alt="...">
				</div>

			</div>	

            <!-- Price list  Section -->
            <div class="container mb-5 mt-5" id="prices_section">
                <p class="fw-bold fs-2 text-center" >Our Packages</p>
                <div class="row">
                    <!-- Table -->
                    <div class="col-lg-4 mb-4">
                    <!-- Table Head -->
                        <div class="pricing-table border-danger p-3">
                        <div class="p-3">
                            <div class="text-white bg-danger px-3 py-2 rounded-2 mb-2 text-center d-flex align-items-center justify-content-evenly">
                                <img src="./assets/home-img/price-starter-icon.svg" width="80">
                                <h2 class="fw-bold mb-0 ">Starter</h2>   
                            </div>
                            <div class=" text-center mt-2">
                                <div class="price-tag text-danger">
                                    <span class="symbol">$</span>
                                    <span class="amount">300</span>
                                    <span class="after">/month</span>
                                </div>
                            </div>
                        </div>
                            <!-- Fees -->
                            <div class="pricing-features">
                            <div class=" d-flex flex-column align-items-center bg-light p-3 rounded-2 mb-3">
                                <div class="price-quarter-icon-container d-flex align-items-center">
                                    <img src="./assets/home-img/price-annual-icon.svg" width="20">
                                    <p class="mb-0 ms-2 text-gray-600" style="font-size: 14px;">Annual Payment</p>
                                </div>
                                <div  class="d-flex mt-2 text-danger" >
                                    <p class="mb-0"><b>$3,060</b> per year <b>(15% discount)</b></p>
                                </div>
                            </div>
                            <div class=" d-flex flex-column align-items-center bg-light p-3 rounded-2 mb-3">
                                <div class="price-quarter-icon-container d-flex align-items-center">
                                    <img src="./assets/home-img/price-quarter-icon.svg" width="25">
                                    <p class="mb-0 ms-2 text-gray-600" style="font-size: 14px;">Quarterly Payment</p>
                                </div>
                                <div  class="d-flex mt-2 text-danger" >
                                    <p class="mb-0"><b>$810</b> per quarter <b>(10% discount)</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="text-danger" style="font-size: 12px;background-color: #ffeff0; padding: 10px; border-radius: 6px;">
                            Enjoy a 3-month trial with basic features free of charge.
                        </div>
                        <div class="my-3 mx-4 border-top"></div>

                            <!-- Feature -->
                            <div class="bg-light py-3 px-2 text-danger d-flex flex-column ">
                                <div class="mb-5 d-flex" >
                                    <i class="fi fi-check starter-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">Full access to the PnPAI platform.</p>
                                </div>
                                <div class="mb-5 d-flex" >
                                    <i class="fi fi-check starter-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">Chat support for installation assistance.</p>
                                </div>
                                <div class="mb-5 d-flex" >
                                    <i class="fi fi-check starter-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">Continuous updates to AI use-cases.</p>
                                </div>
                                <div class=" d-flex" >
                                    <i class="fi fi-check starter-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">1 Month Free Access to explore the platform's capabilities.</p>
                                </div>
                                
                            </div>

                            <!-- Button -->
                            <a class="starter-price-button bg-danger" href="#">Get Started</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                    <!-- Table Head -->
                        <div class="pricing-table p-3">
                        <div class="p-3">
                            <div class="text-white bg-primary px-3 py-2 rounded-2 mb-2 text-center d-flex align-items-center justify-content-evenly">
                                <img src="./assets/home-img/price-growth-icon.svg" width="80">
                                <h2 class="fw-bold mb-0 ">Growth</h2>   
                            </div>
                            <div class=" text-center mt-2">
                                <div class="price-tag text-primary">
                                    <span class="symbol">$</span>
                                    <span class="amount">550</span>
                                    <span class="after">/month</span>
                                </div>
                            </div>
                        </div>
                            <!-- Fees -->
                            <div class="pricing-features">
                            <div class=" d-flex flex-column align-items-center bg-light p-3 rounded-2 mb-3">
                                <div class="price-quarter-icon-container d-flex align-items-center">
                                    <img src="./assets/home-img/price-growth-annual-icon.svg" width="20">
                                    <p class="mb-0 ms-2 text-gray-600" style="font-size: 14px;">Annual Payment</p>
                                </div>
                                <div  class="d-flex mt-2 text-primary" >
                                    <p class="mb-0"><b>$5,610</b> per year <b>(15% discount)</b></p>
                                </div>
                            </div>
                            <div class=" d-flex flex-column align-items-center bg-light p-3 rounded-2 mb-3">
                                <div class="price-quarter-icon-container d-flex align-items-center">
                                    <img src="./assets/home-img/price-growth-quarter-icon.svg" width="25">
                                    <p class="mb-0 ms-2 text-gray-600" style="font-size: 14px;">Quarterly Payment</p>
                                </div>
                                <div  class="d-flex mt-2 text-primary" >
                                    <p class="mb-0"><b>$1,485</b> per quarter <b>(10% discount)</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="text-primary" style="font-size: 12px;background-color: rgb(245, 246, 255); padding: 10px; border-radius: 6px;">
                            Enjoy a 3-month trial with basic features free of charge.
                        </div>
                        <div class="my-3 mx-4 border-top"></div>

                            <!-- Feature -->
                            <div class="bg-light py-3 px-2 text-primary d-flex flex-column ">
                                <div class="mb-4 d-flex" >
                                    <i class="fi fi-check growth-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">Everything included in the Starter package.</p>
                                </div>
                                <div class="mb-4 d-flex" >
                                    <i class="fi fi-check growth-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">5 dedicated consulting sessions for personalized guidance.</p>
                                </div>
                                <div class="mb-4 d-flex" >
                                    <i class="fi fi-check growth-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">Advanced data connectors for diverse data sources.</p>
                                </div>
                                <div class="mb-4 d-flex" >
                                    <i class="fi fi-check growth-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">Advanced data engineering to save time and effort.</p>
                                </div>
                                <div class="mb-4 d-flex" >
                                    <i class="fi fi-check growth-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">High-priority support with SLA.</p>
                                </div>
                                <div class="mb-4 d-flex" >
                                    <i class="fi fi-check growth-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">Customizable AI solutions tailored to your business.</p>
                                </div>
                                <div class="mb-4 d-flex" >
                                    <i class="fi fi-check growth-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">Early access to new features.</p>
                                </div>
                                <div class="d-flex" >
                                    <i class="fi fi-check growth-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">Access to premium features like interactive dashboards and AI model explainability for transparency.</p>
                                </div>
                                
                            </div>

                            <!-- Button -->
                            <a class="growth-price-button bg-primary" href="#">Get Started</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-4">
                    <!-- Table Head -->
                        <div class="pricing-table p-3">
                        <div class="p-3">
                            <div class="text-white px-3 py-2 rounded-2 mb-2 text-center d-flex align-items-center justify-content-evenly" style="background-color: #001949;">
                                <img src="./assets/home-img/price-enter-icon.svg" width="80">
                                <h2 class="fw-bold mb-0 ">Enterprise</h2>   
                            </div>
                            <div class=" text-center mt-2">
                                <div class="price-tag enter-darkblue-p " >
                                    <span class="symbol">$</span>
                                    <span class="amount">1,000 </span>
                                    <span class="after">/month</span>
                                </div>
                            </div>
                        </div>
                            <!-- Fees -->
                            <div class="pricing-features">
                            <div class=" d-flex flex-column align-items-center bg-light p-3 rounded-2 mb-3">
                                <div class="price-quarter-icon-container d-flex align-items-center">
                                    <img src="./assets/home-img/price-enter-annual-icon.svg" width="20">
                                    <p class="mb-0 ms-2 text-gray-600" style="font-size: 14px;">Annual Payment</p>
                                </div>
                                <div  class="d-flex mt-2 enter-darkblue-p" >
                                    <p class="mb-0"><b>$10,200</b> per year <b>(15% discount)</b></p>
                                </div>
                            </div>
                            <div class=" d-flex flex-column align-items-center bg-light p-3 rounded-2 mb-3">
                                <div class="price-quarter-icon-container d-flex align-items-center">
                                    <img src="./assets/home-img/price-enter-quarter-icon.svg" width="25">
                                    <p class="mb-0 ms-2 text-gray-600" style="font-size: 14px;">Quarterly Payment</p>
                                </div>
                                <div  class="d-flex mt-2  enter-darkblue-p" >
                                    <p class="mb-0"><b>$2,700</b> per quarter <b>(10% discount)</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="enter-darkblue-p" style="font-size: 12px;background-color:#d5deff; padding: 10px; border-radius: 6px;">
                            Enjoy a 3-month trial with basic features free of charge.
                        </div>
                        <div class="my-3 mx-4 border-top"></div>

                            <!-- Feature -->
                            <div class="bg-light py-3 px-2 enter-darkblue-p d-flex flex-column ">
                                <div class="mb-3 d-flex" >
                                    <i class="fi fi-check enter-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">All features in the Growth package.</p>
                                </div>
                                <div class="mb-3 d-flex" >
                                    <i class="fi fi-check enter-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">Custom use-case development with our AI experts (up to three custom use-cases).</p>
                                </div>
                                <div class="mb-3 d-flex" >
                                    <i class="fi fi-check enter-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">Dedicated account manager for personalized support.</p>
                                </div>
                                <div class="mb-3 d-flex" >
                                    <i class="fi fi-check enter-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">Data governance and security features for enhanced protection.</p>
                                </div>
                                <div class="mb-3 d-flex" >
                                    <i class="fi fi-check enter-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">Advanced reporting and analytics for deeper insights into your AI solutions.</p>
                                </div>
                                <div class=" d-flex" >
                                    <i class="fi fi-check enter-check-icon"></i>
                                    <p class="fw-bold mb-0 feature-price-p">AI strategy workshops (3 sessions) to refine your AI strategy.</p>
                                </div>
                                
                            </div>

                            <!-- Button -->
                            <a class="enter-price-button" href="#">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Contact us  Section -->
            <div class="container mt-5 mb-5" id="contactus" >

                <h3 class="fw-bold mb-5">
                    How can we help?
                </h3>
                <div class="row ">
                    
                    <div class="col-lg-6 mb-4">
                        <form>
                            <div class="form-floating mb-3">
                                <input required="" placeholder="Name" id="contact_name" name="contact_name" type="text" class="form-control">
                                <label for="contact_name">Name</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input required="" placeholder="Email" id="contact_email" name="contact_email" type="email" class="form-control">
                                <label for="contact_email">Email</label>
                            </div>

                            <div class="row p-0" style="--bs-gutter-x: 0.5rem;">
                                <div class="form-floating mb-3">
                                    <input required="" placeholder="Phone" id="contact_phone" name="contact_phone" type="text" class="form-control">
                                    <label for="contact_phone">Phone</label>
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">
                                Join Now
                            </button>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <img src=".../../../../../../../assets/images/ecommerce/contact-img.svg" width="700">
                    </div>
                </div>
            </div>



             
    
</body>



<script src="assets/js/vendor.bundle.base.js"></script>
<script src="assets/js/layout.js"></script>


<!-- Core javascripts -->
<script src="assets/js/core.min.js"></script>
<script src="assets/js/vendor_bundle.min.js"></script>
<script src="assets/js/vendor.datatables.js"></script>
</html>