<div>

    <p class="bg-red fw-bold fs-3"> Welcome to your dashboard</p>
    <a type="button" class="shadow-md rounded text-center border-0 pnp-new-btn mt-3" href="#" style="width: 280px;"
        [routerLink]="newUseCaseRoute">
        <span class="d-inline-flex align-items-center justify-content-center bg-light text-gray-900 rounded-circle"
            style="width:35px;height:35px;margin-right: 20px;">
            <i class="fi fi-folder-empty" style="font-size: 25px;color: #2d3e93;font-weight: bold !important;"></i>
        </span>
        <p class=" m-0">Select Usecase</p>
    </a>

</div>