<div>

    <p class="bg-red fw-bold fs-3">{{'Dashboard.Welcome' | translate}}</p>
    <a type="button" class="shadow-md rounded text-center border-0 pnp-new-btn mt-3" [routerLink]="newUseCaseRoute">
        <span
            class="d-inline-flex align-items-center justify-content-center bg-light text-gray-900 rounded-circle pnp-new-btn-span">
            <i class="fi fi-folder-empty pnp-new-btn-span-icon"></i>
        </span>
        <p class=" m-0">{{'NewUsecase.SelectLabel' | translate}}</p>
    </a>

</div>