<div class=" mb-5 py-5" style=" background-color: #eff0ff; ">
    <div class="container">

        <div class="row">

            <div class="col-lg-7 d-flex flex-column justify-content-center ">
                <p class="fs-1 fw-bold">{{'Labels.HelpCenter' | translate}}</p>
                <p class="fs-3">{{'Labels.PNPAiCompanyName' | translate}} {{'FAQ.AnswerQuestions' | translate}}</p>
            </div>

            <div class="col-lg-5">
                <img src="../../../../../assets/img/FAQ-img.svg" class="img-fluid" width="500">
            </div>

        </div>
    </div>

</div>

<div class="container my-5">
    <div class="accordion" id="accordionBottomBorder" data-aos="fade-in" data-aos-delay="250">

        <div class="card mb-4">

            <div class="card-header border-0 p-0 border bg-transparent" id="cleanHeadingBorder1">
                <h2 class="mb-0">
                    <button
                        class="fs-5 btn btn-link w-100 btn-lg text-align-start text-decoration-none text-dark fw-bold"
                        type="button" data-bs-toggle="collapse" data-bs-target="#borderCollapse1" aria-expanded="true"
                        aria-controls="borderCollapse1">
                        {{'FAQ.WhatIsPNPAIQuestion' | translate}}
                        <span class="group-icon float-end">
                            <i class="fi fi-arrow-start-slim"></i>
                            <i class="fi fi-arrow-down-slim"></i>
                        </span>
                    </button>
                </h2>
            </div>

            <div id="borderCollapse1" class="collapse show" aria-labelledby="cleanHeadingBorder1"
                data-bs-parent="#accordionBottomBorder">
                <div class="card-body">
                    <p>
                        {{'FAQ.WhatIsPNPAIAnswer' | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header border-0 p-0 border bg-transparent" id="cleanHeadingBorder2">
                <h2 class="mb-0">
                    <button
                        class="fw-bold fs-5 btn btn-link w-100 btn-lg text-align-start text-decoration-none text-dark collapsed"
                        type="button" data-bs-toggle="collapse" data-bs-target="#borderCollapse2" aria-expanded="false"
                        aria-controls="borderCollapse2">
                        {{'FAQ.WhyPNPAIQuestion' | translate}}
                        <span class="group-icon float-end">
                            <i class="fi fi-arrow-start-slim"></i>
                            <i class="fi fi-arrow-down-slim"></i>
                        </span>
                    </button>
                </h2>
            </div>

            <div id="borderCollapse2" class="collapse" aria-labelledby="cleanHeadingBorder2"
                data-bs-parent="#accordionBottomBorder">
                <div class="card-body">
                    <p>
                        {{'FAQ.WhyPNPAIAnswerPartOne' | translate}}
                        <br>
                        {{'FAQ.WhyPNPAIAnswerPartTwo' | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header border-0 p-0 border bg-transparent" id="cleanHeadingBorder3">
                <h2 class="mb-0">
                    <button
                        class="fs-5 fw-bold btn btn-link w-100 btn-lg text-align-start text-decoration-none text-dark collapsed"
                        type="button" data-bs-toggle="collapse" data-bs-target="#shadowCollapse3" aria-expanded="false"
                        aria-controls="shadowCollapse3">
                        {{'FAQ.HowFastIntegratePNPAIQuestion' | translate}}
                        <span class="group-icon float-end">
                            <i class="fi fi-arrow-start-slim"></i>
                            <i class="fi fi-arrow-down-slim"></i>
                        </span>
                    </button>
                </h2>
            </div>

            <div id="shadowCollapse3" class="collapse" aria-labelledby="cleanHeadingBorder3"
                data-bs-parent="#accordionBottomBorder">
                <div class="card-body">
                    <p>
                        {{'FAQ.HowFastIntegratePNPAIAnswer' | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header border-0 p-0 border bg-transparent" id="cleanHeadingBorder4">
                <h2 class="mb-0">
                    <button
                        class="fs-5 btn fw-bold btn-link w-100 btn-lg text-align-start text-decoration-none text-dark collapsed"
                        type="button" data-bs-toggle="collapse" data-bs-target="#shadowCollapse4" aria-expanded="false"
                        aria-controls="shadowCollapse4">
                        {{'FAQ.IsPnPAISuitableQuestion' | translate}}
                        <span class="group-icon float-end">
                            <i class="fi fi-arrow-start-slim"></i>
                            <i class="fi fi-arrow-down-slim"></i>
                        </span>
                    </button>
                </h2>
            </div>

            <div id="shadowCollapse4" class="collapse" aria-labelledby="cleanHeadingBorder4"
                data-bs-parent="#accordionBottomBorder">
                <div class="card-body">
                    <p>
                        {{'FAQ.IsPnPAISuitableAnswer' | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header border-0 p-0 border bg-transparent" id="cleanHeadingBorder5">
                <h2 class="mb-0">
                    <button
                        class="fs-5 fw-bold btn btn-link w-100 btn-lg text-align-start text-decoration-none text-dark collapsed"
                        type="button" data-bs-toggle="collapse" data-bs-target="#shadowCollapse5" aria-expanded="false"
                        aria-controls="shadowCollapse5">
                        {{'FAQ.HowPnPAIPrivacyQuestion' | translate}}
                        <span class="group-icon float-end">
                            <i class="fi fi-arrow-start-slim"></i>
                            <i class="fi fi-arrow-down-slim"></i>
                        </span>
                    </button>
                </h2>
            </div>

            <div id="shadowCollapse5" class="collapse" aria-labelledby="cleanHeadingBorder5"
                data-bs-parent="#accordionBottomBorder">
                <div class="card-body">
                    <p>
                        {{'FAQ.HowPnPAIPrivacyAnswer' | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header border-0 p-0 border bg-transparent" id="cleanHeadingBorder6">
                <h2 class="mb-0">
                    <button
                        class="fw-bold fs-5 btn btn-link w-100 btn-lg text-align-start text-decoration-none text-dark collapsed"
                        type="button" data-bs-toggle="collapse" data-bs-target="#shadowCollapse6" aria-expanded="false"
                        aria-controls="shadowCollapse6">
                        {{'FAQ.WhatIndustriesPNPAIQuestion' | translate}}
                        <span class="group-icon float-end">
                            <i class="fi fi-arrow-start-slim"></i>
                            <i class="fi fi-arrow-down-slim"></i>
                        </span>
                    </button>
                </h2>
            </div>

            <div id="shadowCollapse6" class="collapse" aria-labelledby="cleanHeadingBorder6"
                data-bs-parent="#accordionBottomBorder">
                <div class="card-body">
                    <p>
                        {{'FAQ.WhatIndustriesPNPAIAnswer' | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header border-0 p-0 border bg-transparent" id="cleanHeadingBorder7">
                <h2 class="mb-0">
                    <button
                        class="fw-bold fs-5 btn btn-link w-100 btn-lg text-align-start text-decoration-none text-dark collapsed"
                        type="button" data-bs-toggle="collapse" data-bs-target="#shadowCollapse7" aria-expanded="false"
                        aria-controls="shadowCollapse7">
                        {{'FAQ.IsPricingPNPAIQuestion' | translate}}
                        <span class="group-icon float-end">
                            <i class="fi fi-arrow-start-slim"></i>
                            <i class="fi fi-arrow-down-slim"></i>
                        </span>
                    </button>
                </h2>
            </div>

            <div id="shadowCollapse7" class="collapse" aria-labelledby="cleanHeadingBorder7"
                data-bs-parent="#accordionBottomBorder">
                <div class="card-body">
                    <p>
                        {{'FAQ.IsPricingPNPAIAnswer' | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header border-0 p-0 border bg-transparent" id="cleanHeadingBorder8">
                <h2 class="mb-0">
                    <button
                        class="fw-bold fs-5 btn btn-link w-100 btn-lg text-align-start text-decoration-none text-dark collapsed"
                        type="button" data-bs-toggle="collapse" data-bs-target="#shadowCollapse8" aria-expanded="false"
                        aria-controls="shadowCollapse8">
                        {{'FAQ.WhatIncentivesPNPAIQuestion' | translate}}
                        <span class="group-icon float-end">
                            <i class="fi fi-arrow-start-slim"></i>
                            <i class="fi fi-arrow-down-slim"></i>
                        </span>
                    </button>
                </h2>
            </div>

            <div id="shadowCollapse8" class="collapse" aria-labelledby="cleanHeadingBorder8"
                data-bs-parent="#accordionBottomBorder">
                <div class="card-body">
                    <p>
                        {{'FAQ.WhatIncentivesPNPAIAnswer' | translate}}
                    </p>
                </div>
            </div>
        </div>


    </div>

</div>