<div id="token-container" class="rounded-2 shadow-lg pnp-token-online-container">

    <div class="pnp-container-snippet">
        <h3>{{'NewUsecase.TokenGenerationLabel' | translate}}</h3>
        <p class="mb-5">{{'NewUsecase.TokenGenerationDesc' | translate}}</p>
        <div class="copy-token-div">
            <button id="copy-token-btn" type="button" class="copy-btn" #copyBTN [cdkCopyToClipboard]="token"
                (cdkCopyToClipboardCopied)="onClipboardCopy($event)">
                {{'Buttons.Copy' | translate}}</button>
        </div>
        <pre class="pnp-pre m-0 pnp-token-code"><code class="text-white ">{{token}}</code></pre>

        <p class="new-line-translation mt-5">
            {{quayIOLoginGuide}}
        </p>
    </div>

    <div style="width: 100%;" class="d-flex justify-content-between">
        <button id="step-one-back-btn" type="button" class="btn btn--outline-primary m-4" (click)="getBack()">
            {{'Buttons.Back' | translate}}
        </button>
        <button id="step-two-next-btn" type="button" class="btn btn-primary m-4" (click)="goNextStep()">
            {{'Buttons.Next' | translate}}
        </button>
    </div>
</div>