<div>
    <a class="shadow-md rounded text-center border-0 pnp-new-btn" href="pnp-create-model-process.html"
        style="width: 300px; margin-left: 10px;">
        <span class="d-inline-flex align-items-center justify-content-center bg-light text-gray-900 rounded-circle"
            style="width:35px;height:35px;margin-right: 20px;">
            <i class="fi fi-pie-chart" style="font-size: 25px;color: #2d3e93;font-weight: bold !important;"></i>
        </span>
        <p class=" m-0">+ {{'UseCases.CreateNewModel' | translate}}</p>
    </a>

</div>
<!-- PAGE TITLE -->
<header class="mt-5 mb-3">
    <h1 class="h6 ms-3">{{'UseCases.YourModelCards' | translate}}</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb small">
        </ol>
    </nav>
</header>

<div class="row m-0">

    <ng-container *ngFor="let model of useCaseModels">
        <div class="col-lg-6 mb-3">

            <div class="bg-white shadow-md text-dark rounded text-center p-4 pnp-card" [ngClass]="{'model-enabled':model.status == 0,'model-disabled':model.status == 1,
                        'model-ontraining':model.status == 2,'model-failed':model.status == 3}">

                <div class="d-flex align-items-center justify-content-between" style="width: 100%;">
                    <div class="d-flex">
                        <img [src]="model.dataSourceImage" class="mt-1" />
                        <div class="d-flex flex-column align-items-start justify-content-between"
                            style="margin-left: 20px;">
                            <p class="pnp-datasource-name-p">{{model.name}}</p>
                            <p class="pnp-datasource-details-p text-align-start">{{model.useCase}}</p>
                        </div>
                    </div>

                    <div class="dropstart">
                        <a href="#" class="btn bg-white" data-bs-toggle="dropdown"
                            style="position: relative; left: 22px;">
                            <i class="fi fi-dots-vertical-full"></i>
                        </a>
                        <div class="dropdown-menu " style="left: -120px !important;">
                            <ul class="list-unstyled m-0 p-0">
                                <li class="dropdown-item">
                                    <a class="dropdown-link" href="pnp-dashboard-example.html">Dashboard</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="dropdown-link" href="#">Retrain</a>
                                </li>
                                <li class="dropdown-item dropstart">
                                    <a class="dropdown-link dropstart" href="#" data-bs-toggle="dropdown">URL</a>

                                    <ul class="dropdown-menu dropdown-menu-hover shadow-lg border-0 m-0"
                                        style="position: absolute; left: -250px !important; top:30px !important ; padding: 8px !important;">
                                        <li class="dropdown-item ">
                                            <a class="dropdown-link" style="font-size: 12px;"
                                                href="#">https://pnp.com/modelCards/ec/customer-churn-prediction-v4?12a55</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <div class="pnp-lable-card-container col-4">
                        <img [src]="model.industryIcon" width="20">
                        <p class="pnp-tag-p">{{model.industry}}</p>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <div *ngIf="model.status == 2" class="pnp-lable-card-container col-md-4 "
                            style="background-color: #f3f3ff !important">
                            <label class="d-flex align-items-center pnp-tag-p" style="margin-left: 0px;">
                                <i class="fi fi-spin fi-orbit text-primary"
                                    style="margin-right: 10px; padding-top: 4px;"></i> In
                                Training
                            </label>
                        </div>
                        <div *ngIf="model.status != 2" class="pnp-lable-card-container col-md-6 "
                            style="background-color: #f3f3ff !important">
                            <i class="fi fi-time"></i>
                            <p class="pnp-tag-p"><span class="fw-bold">{{'UseCases.LastTrained' | translate}}:</span>
                                {{model.lastTrainedDate | date: 'dd/MM/yyyy hh:mm a'}}</p>
                        </div>
                        <label *ngIf="model.status == 0" class="d-flex align-items-center justify-content-end">
                            <input class="d-none-cloaked" type="checkbox" name="switch-checkbox" checked>
                            <i class="switch-icon switch-icon-success"></i>
                        </label>

                        <label *ngIf="model.status == 1" class="d-flex align-items-center ">
                            <input class="d-none-cloaked" type="checkbox" name="switch-checkbox" value="0">
                            <i class="switch-icon"></i>
                        </label>

                        <div *ngIf="model.status == 3" class="pnp-lable-card-container"
                            style="background-color: #ffeded !important;">
                            <i class="fi fi-round-info-full me-2 text-red-800"></i>
                            <p style="margin-bottom: 0px !important; margin-left: 10x; font-size: 12px;">
                                {{'UseCases.ErrorOccured' | translate}}
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </ng-container>

</div>