<!-- Hero Section -->
<div class="container-fluid min-vh-50" style="padding-top: 140px">
  <div class="row text-center-xs d-middle justify-content-evenly">
    <!-- note: z-index on columns are because of AOS plugin -->
    <div class="col-12 col-md-5 pb-5 z-index-2 d-flex justify-content-start" data-aos="fade-up" data-aos-delay="0">
      <div class="mb-5 ps-4">
        <h2 class="fw-bold mb-5" style="font-size: 42px">
          {{'Landing.Slogan' | translate}}
          <span class="text-danger">{{'Labels.PNPAiCompanyName' | translate}}</span>
        </h2>

        <p class="fw-medium mb-6" style="font-size: 22px">
          {{'Landing.SloganDescription' | translate}}
        </p>
        <div class="d-flex">
          <a class="btn btn-danger px-4" data-bs-toggle="modal"
            data-bs-target="#joinBeta">{{'Buttons.JoinOurBetaProgram' | translate}}</a>
          <a class="btn px-4 border-1 border-dark text-dark pnp-second-btn shadow-lg-hover hover" data-bs-toggle="modal"
            data-bs-target="#schDemo">{{'Buttons.ScheduleADemo' | translate}}</a>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-6 pb-5 pt-4 pe-0 z-index-1" data-aos="fade-up" data-aos-delay="200">
      <!-- svg image -->
      <img class="img-fluid" src="./assets/img/hero-img.svg" />
    </div>
  </div>
</div>

<!-- Partners Logos Section -->
<div class="container-fluid mt-7  ">
  <div class="d-flex w-100 justify-content-center mb-3">
    <img src="./assets/img/partner-img.png" style="width: 335px;">
  </div>


  <div class="logos bg-white shadow-lg rounded-3">
    <div class="logo_items">
      <img src="./assets/logos/Picture1.jpg" alt="" srcset="" class="me-4 img-fluid"
        style="width: 290px;height: 70px; ">
      <img src="./assets/logos/Picture2.png" alt="" srcset="" class="me-4" style="width: 250px ;height: 200px;">
      <img src="./assets/logos/Picture3.png" alt="" srcset="" class="me-4">
      <img src="./assets/logos/Picture4.png" alt="" srcset="" class="me-4" style="width: 252px; height: 66px;">
    </div>

    <div class="logo_items">
      <img src="./assets/logos/Picture1.jpg" alt="" srcset="" class="me-4 img-fluid"
        style="width: 290px;height: 70px; ">
      <img src="./assets/logos/Picture2.png" alt="" srcset="" class="me-4 img-fluid"
        style="width: 250px ;height: 200px;">
      <img src="./assets/logos/Picture3.png" alt="" srcset="" class="me-4">
      <img src="./assets/logos/Picture4.png" alt="" srcset="" class="me-4" style="width: 252px; height: 66px;">
    </div>

    <div class="logo_items">
      <img src="./assets/logos/Picture1.jpg" alt="" srcset="" class="me-4 img-fluid"
        style="width: 290px;height: 70px; ">
      <img src="./assets/logos/Picture2.png" alt="" srcset="" class="me-4 img-fluid"
        style="width: 250px ;height: 200px;">
      <img src="./assets/logos/Picture3.png" alt="" srcset="" class="me-4">
      <img src="./assets/logos/Picture4.png" alt="" srcset="" class="me-4" style="width: 252px; height: 66px;">
    </div>

  </div>
</div>

<!-- Feature Section -->
<div class="container-fluid min-vh-50 pt-4">
  <div class="row text-center-xs d-middle justify-content-evenly">
    <!-- note: z-index on columns are because of AOS plugin -->
    <div class="col-12 col-md-5 order-2 order-md-1 pb-5 z-index-2 d-flex justify-content-start" data-aos="fade-up"
      data-aos-delay="0">
      <div class="mb-5 ps-4">
        <h5 class="fs-2 fw-bold mb-5 mt-6">
          {{'Landing.Feature' | translate}}
          <span class="text-danger">{{'Labels.PNPAiCompanyName' | translate}}</span>
        </h5>
        <p class="h3 fw-medium mb-6">
          {{'Landing.FeatureDescription' | translate}}
        </p>
        <div class="mb-5">
          <img src="./assets/img/features-group.svg" alt="" class="img-fluid" />
        </div>
        <a class="btn btn-danger px-4" data-bs-toggle="modal" data-bs-target="#joinBeta">{{'Buttons.JoinOurBetaProgram'
          | translate}}</a>
      </div>
    </div>
    <div class="col-12 col-md-5 order-1 order-md-2 pb-5 pt-7 z-index-1" data-aos="fade-up" data-aos-delay="200">
      <!-- svg image -->
      <img class="img-fluid" src="./assets/img/features-img.svg" />
    </div>
  </div>
</div>

<!-- New Section -->
<div class="mt-6 bg-white">
  <div class="nav d-flex nav-pills justify-content-center" role="tablist" style="position: relative; top: 44px">
    <!-- tab 1 -->
    <a class="nav-link mb-3 p-4 rounded border border-primary text-gray-800 shadow-xs bg-white bg-primary-active active"
      id="tab-btn-v-1" href="#tab-v-1" aria-controls="tab-v-1" data-bs-toggle="pill" role="tab" aria-selected="true">
      <h3 class="h4 d-block fw-light mb-0">{{'Labels.Before' | translate}} {{'Labels.PNPAiCompanyName' | translate}}
      </h3>
    </a>
    <!-- tab 2 -->
    <a class="nav-link mb-3 p-4 rounded border border-primary text-gray-800 shadow-xs bg-white bg-primary-active"
      id="tab-btn-v-2" href="#tab-v-2" aria-controls="tab-v-2" data-bs-toggle="pill" role="tab" aria-selected="false"
      tabindex="-1">
      <h3 class="h4 d-block fw-light mb-0">{{'Labels.After' | translate}} {{'Labels.PNPAiCompanyName' | translate}}</h3>
    </a>
  </div>

  <div class="col-12">
    <div class="tab-content before-bg-container pt-6">
      <!-- content tab 1 -->
      <div class="tab-pane fade active show" id="tab-v-1" aria-labelledby="tab-btn-v-1" role="tabpanel">
        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex justify-content-center p-5">
            <img class="img-fluid rounded ps-6" src="./assets/img/before-2-img.svg" />
          </div>

          <div class="col-lg-6" style="
              display: flex;
              flex-direction: column;
              justify-content: center;
            ">
            <img class="img-fluid rounded ps-6" src="./assets/img/before-3-img.svg" />
          </div>
        </div>
      </div>

      <!-- content tab 2 -->
      <div class="tab-pane fade" id="tab-v-2" aria-labelledby="tab-btn-v-2" role="tabpanel">
        <div class="row justify-content-between">
          <div class="col-md-5 d-flex justify-content-center p-5">
            <img class="img-fluid rounded ps-6" src="./assets/img/after-2-img.svg" width="500" />
          </div>

          <div class="col-md-6" style="
              display: flex;
              flex-direction: column;
              justify-content: center;
            ">
            <img class="img-fluid rounded ps-6" src="./assets/img/after-3-img.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Prices  Section -->
<app-prices></app-prices>


<!-- Reseller  Section -->
<div class="section bg-light mt-1 py-6 reseller-container">
  <div class="container">
    <p class="fw-bold fs-2 text-center text-white">
      {{'Landing.ResellerTitle' | translate}} </p>
    <div class="row">
      <div class="col-6 col-md-4 py-4 m-0-xs d-lg-flex">
        <div
          class="bg-white rounded-lg shadow-md p-3 d-flex flex-column justify-content-center align-content-center align-items-center text-center">
          <div class="flex-none me-3">
            <i class="fi fi-brain fs-1"></i>
          </div>
          <div class="flex-lg-fill">
            <h2 class="h5 fw-bold">{{'Landing.CustomIntegrationDiscussionsTitle' | translate}}</h2>
            <p class="mb-0">
              {{'Landing.CustomIntegrationDiscussionsDescription' | translate}}
            </p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 py-4 m-0-xs d-lg-flex">
        <div
          class="bg-white rounded-lg shadow-md p-3 d-flex flex-column justify-content-center align-content-center align-items-center text-center">
          <div class="flex-none me-3">
            <i class="fi fi-graph fs-1"></i>
          </div>
          <div class="flex-lg-fill">
            <h2 class="h5 fw-bold">{{'Landing.WhiteLabelSolutionsTitle' | translate}}</h2>
            <p class="mb-0">
              {{'Landing.WhiteLabelSolutionsDescription' | translate}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 py-4 m-0-xs d-lg-flex">
        <div
          class="bg-white rounded-lg shadow-md p-3 d-flex flex-column justify-content-center align-content-center align-items-center text-center">
          <div class="flex-none me-3">
            <i class="fi fi-lightbulb fs-1"></i>
          </div>
          <div class="flex-lg-fill">
            <h2 class="h5 fw-bold">{{'Landing.DedicatedAccountManagerTitle' | translate}}</h2>
            <p class="mb-0">
              {{'Landing.DedicatedAccountManagerDescription' | translate}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6 col-md-4 m-0-xs d-lg-flex">
        <div
          class="bg-white rounded-lg shadow-md p-3 d-flex flex-column justify-content-center align-content-center align-items-center text-center py-4">
          <div class="flex-none me-3">
            <i class="fi fi-folder-full fs-1"></i>
          </div>
          <div class="flex-lg-fill">
            <h2 class="h5 fw-bold">{{'Landing.FlexibleLicensingTitle' | translate}}</h2>
            <p class="mb-0">
              {{'Landing.FlexibleLicensingDescription' | translate}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 m-0-xs d-lg-flex">
        <div
          class="bg-white rounded-lg shadow-md p-3 d-flex flex-column justify-content-center align-content-center align-items-center text-center py-4">
          <div class="flex-none me-3">
            <i class="fi fi-chart-up fs-1"></i>
          </div>
          <div class="flex-lg-fill">
            <h2 class="h5 fw-bold">{{'Landing.JointMarketingEffortsTitle' | translate}}</h2>
            <p class="mb-0">
              {{'Landing.JointMarketingEffortsDescription' | translate}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 text-center text-white">
      <p>
        {{'Landing.ResellerDescription' | translate}}
      </p>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <a class="btn px-4" style="background-color: #001949; color: white" data-bs-toggle="modal"
        data-bs-target="#schDemo">{{'Buttons.ScheduleADemo' | translate}}</a>
    </div>
  </div>
</div>

<!-- intro  Section -->
<div class="container-fluid min-vh-50 pt-4 mb-5">
  <h2 class="h1 fw-bold mb-5 mt-6 text-center container-sm">
    {{'Landing.InnovationSectionTitle' | translate}}
    <span class="text-danger">{{'Labels.PNPAiCompanyName' | translate}}</span>
  </h2>
  <div class="container text-center-xs justify-content-between">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="bg-primary shadow-md rounded-2 p-4" style="height: 620px;">
          <div class="pnp-first-big-card-bg d-flex flex-column justify-content-between" style="height: 100%;">
            <div>
              <p class="fw-bold fs-3 text-white pb-3">{{'Landing.SimplifyAIImplementationTitle' | translate}}</p>
              <p class="fs-6 text-white">
                {{'Landing.SimplifyAIImplementationDescription' | translate}}
              </p>
            </div>
            <img src="./assets/img/first-card-img.svg" alt="" srcset="" />
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="bg-danger shadow-md rounded-2" style="height: 620px;">
          <div class="d-flex flex-column justify-content-between" style="height: 100%;">
            <img src="./assets/img/second-card-img.png" alt="" srcset="" />
            <div class="p-3">
              <p class="fw-bold fs-3 text-white">
                {{'Landing.OptimizeEfficiencyTitle' | translate}}
              </p>
              <p class="fs-6 text-white">
                {{'Landing.OptimizeEfficiencyDescription' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="p-3 shadow-md rounded-2" style="background-color: #002469; height: 620px;">
          <div class="d-flex flex-column justify-content-between" style="height: 100%;">
            <div>
              <p class="fw-bold fs-3 text-white pb-3">{{'Landing.AccelerateAITitle' | translate}}</p>
              <p class="fs-6 text-white" style="margin-bottom: 185px">
                {{'Landing.AccelerateAIDescription' | translate}}
              </p>
            </div>
            <img src="./assets/img/third-card-img.svg" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Our Process  Section -->
<div class="section text-white bg-primary" id="ourprocess">
  <div class="container-fluid">
    <h2 class="h1 fw-bold text-center mb-4 text-white">{{'Landing.OurProcessSectionTitle' | translate}}</h2>
    <div class="row justify-content-between p-4">
      <div class="col-md-7">
        <div class="d-flex flex-column">
          <div class="row">
            <div class="col-lg-6 d-flex mb-5 p-4 our-process-point-container">
              <!-- icon -->
              <div class="fi mdi-filter_1 fs-1"></div>
              <div class="mx-4">
                <h3 class="fs-5">{{'Landing.ResearchTitle' | translate}}:</h3>
                <p class="fs-5">
                  {{'Landing.ResearchDescription' | translate}}
                </p>
              </div>
            </div>
            <div class="col-lg-6 d-flex mb-5 p-4 our-process-point-container">
              <!-- icon -->
              <div class="fi mdi-filter_2 fs-1"></div>
              <div class="mx-4">
                <h3 class="fs-5">{{'Landing.ImplementationTitle' | translate}}:</h3>
                <p class="fs-5">
                  {{'Landing.ImplementationDescription' | translate}}
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 d-flex mb-5 p-4 our-process-point-container">
              <!-- icon -->
              <div class="fi mdi-filter_3 fs-1"></div>
              <div class="mx-4">
                <h3 class="fs-5">{{'Landing.TestingTitle' | translate}}:</h3>
                <p class="fs-5">
                  {{'Landing.TestingDescription' | translate}}
                </p>
              </div>
            </div>

            <div class="col-lg-6 d-flex mb-5 p-4 our-process-point-container">
              <!-- icon -->
              <div class="fi mdi-filter_4 fs-1"></div>
              <div class="mx-4">
                <h3 class="fs-5">{{'Landing.DeploymentTitle' | translate}}:</h3>
                <p class="fs-5">
                  {{'Landing.DeploymentDescription' | translate}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <img src="./assets/img/our-process-img.svg" class="img-fluid" />
      </div>
    </div>
  </div>
</div>

<!-- integration  Section -->
<div class="container-fluid min-vh-50 mb-5 mt-6">
  <div class="row text-center-xs justify-content-evenly">
    <!-- note: z-index on columns are because of AOS plugin -->
    <div class="col-12 col-md-5 order-2 order-md-1 z-index-2 d-flex justify-content-start" data-aos="fade-up"
      data-aos-delay="0">
      <div class="p-6 pnp-intg-bg">
        <h5 class="fs-2 fw-bold mb-6">
          <span class="text-danger">{{'Labels.PNPAiCompanyName' | translate}}</span>
          {{'Landing.IntegrationSectionTitle' | translate}}
        </h5>
        <p class="fw-medium mb-6" style="font-size: 22px">
          {{'Landing.IntegrationSectionDescription' | translate}}
        </p>
        <a class="btn btn-danger px-4" data-bs-toggle="modal" data-bs-target="#schDemo">{{'Buttons.ScheduleADemo' |
          translate}}</a>
      </div>
    </div>
    <div class="col-12 col-md-5 order-1 order-md-2 z-index-1 d-flex justify-content-center" data-aos="fade-up"
      data-aos-delay="200">
      <!-- svg image -->
      <img class="" style="width: 75%" src="./assets/img/intg-img.svg" />
    </div>
  </div>
</div>


<!-- Prof Testimonial  Section -->
<div class="container-fluid">

  <div class="row mt-6">

    <div class="col-12 col-lg-4 my-5">

      <img src="./assets/img/prof-img.jpg" class="img-fluid" width="500">
    </div>

    <div class="col-12 col-lg-8 my-5">

      <div class="bg-white shadow-md rounded">

        <!-- pic/avatar -->

        <div class="p-6">
          <h3 class="h4 mb-2 fw-normal">
            <span class="d-block-xs fw-bold">Dr Nik Polatidis</span>
          </h3>
          <h3 class="h6 mb-5 fw-normal">
            {{'Prof.Title' | translate}}
          </h3>
          <p>
            {{'Prof.Word' | translate}}
          </p>
        </div>

      </div>

    </div>

  </div>
</div>


<!-- White paper section  Section -->
<div class="bg-white-paper-container">
  <div class="container container-fluid">
    <h2 class="h1 fw-bold mb-5 pt-4 text-center container-sm text-white">
      <p class="fs-4 fw-normal">{{'Landing.EmbracingSimplicitySectionLabel' | translate}}:</p>
      {{'Landing.EmbracingSimplicitySectionTitle' | translate}}
    </h2>
    <div class="bg-white shadow-xlg rounded-lg p-4">
      <div class="white-paper-circles d-flex justify-content-end pb-4 border-bottom-lg">
        <div class="bg-success me-2" style="border-radius: 100%; height: 20px; width: 20px"></div>
        <div class="bg-warning me-2" style="border-radius: 100%; height: 20px; width: 20px"></div>
        <div class="bg-danger me-2" style="border-radius: 100%; height: 20px; width: 20px"></div>
      </div>

      <div class="row mt-lg-5 mt-0">
        <div class="col-lg-5 order-2 order-lg-1 d-flex justify-content-center mt-lg-0 mt-5">
          <img src="./assets/img/whitepaper-img.svg" alt="" />
        </div>
        <div class="col-lg-7 order-1 order-lg-2 d-flex flex-column justify-content-between">
          <p class="fs-4 fw-bold p-4">
            {{'Landing.EmbracingSimplicitySectionDescription' | translate}}
          </p>
          <div class="row">
            <div class="col-lg-4 mb-4 text-center d-flex flex-column align-items-center">
              <div class="bg-primary-soft rounded-lg p-2">
                <p class="mb-0 fw-bold fs-2 px-3">{{'Numbers.16' | translate}}</p>
              </div>
              <div class="mt-2">
                <p class="mb-0 fw-bold text-danger">
                  {{'Landing.EmbracingSimplicityIndustryAccelerator' | translate}}
                </p>
              </div>
            </div>
            <div class="col-lg-4 mb-4 text-center d-flex flex-column align-items-center">
              <div class="bg-primary-soft rounded-lg p-2">
                <p class="mb-0 fw-bold fs-2 px-3">{{'Numbers.2' | translate}}</p>
              </div>
              <div class="mt-2">
                <p class="mb-0 fw-bold text-danger">{{'Landing.EmbracingSimplicityIndustries' | translate}}</p>
              </div>
            </div>
            <div class="col-lg-4 mb-4 text-center d-flex flex-column align-items-center">
              <div class="bg-primary-soft rounded-lg p-2">
                <p class="mb-0 fw-bold fs-2 px-2">{{'Numbers.1' | translate}}</p>
              </div>
              <div class="mt-2">
                <p class="mb-0 fw-bold text-danger">{{'Landing.EmbracingSimplicityWhitePaper' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="order-3 d-flex justify-content-center">
          <a class="white-paper-button bg-danger" href="#">{{'Landing.DownloadWhitePaperButton' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Newsletter  Section -->
<div class="section bg-light py-5 py-lg-4 mb-4" style="margin-top: 420px">
  <div class="container">
    <div class="row g-4 align-items-center">
      <div class="col-10 mx-auto col-lg-8 text-center-md text-center-xs">
        <h3 class="m-0">
          {{'Landing.LetsConnectStart' | translate}}
          <span class="text-danger">{{'Landing.LetsConnectEnd' | translate}}</span>!
        </h3>
      </div>

      <div class="col-10 mx-auto col-lg-4">
        <form novalidate="" method="post" action="#subscribe_url"
          class="bs-validate py-3 mt-1 input-group-over input-group-pill was-validated" id="js_2MuVq7xgDx">
          <input class="form-control form-control-lg fw-light text-center-md text-center-xs" name="subscriber_email"
            type="email" value="" placeholder="{{'Form.Placeholders.Email' | translate}}"
            aria-label="email address..." />

          <button aria-label="subscribe" type="submit" class="btn bg-transparent shadow-none">
            <i class="fi fi-send fs-4"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Contact us  Section -->
<div class="container mt-5 mb-5" id="contactus">
  <h3 class="fw-bold mb-5">{{'Landing.HelpFormTitle' | translate}}</h3>
  <div class="row">
    <div class="col-lg-6 mb-4">
      <form [formGroup]="contactusForm!" (ngSubmit)="onContactUsSubmit()">
        <div class="form-floating mb-3">
          <input placeholder="{{'Form.Fields.Name' | translate}}" formControlName="name" id="contact_name"
            name="contact_name" type="text" class="form-control" />
          <label for="contact_name">{{'Form.Fields.Name' | translate}}</label>
          <div *ngIf="contactusForm!.get('name')!.touched || contactusForm!.get('name')!.dirty">
            <div *ngIf="contactusForm!.get('name')!.hasError('required')">
              <span class="text-danger">{{'Form.Errors.NameRequired' | translate}}</span>
            </div>
          </div>
        </div>

        <div class="form-floating mb-3">
          <input formControlName="email" placeholder="{{'Form.Fields.Email' | translate}}" id="contact_email"
            name="contact_email" type="email" class="form-control" />
          <label for="contact_email">{{'Form.Fields.Email' | translate}}</label>
          <div *ngIf="contactusForm!.get('email')!.touched || contactusForm!.get('email')!.dirty">
            <div *ngIf="contactusForm!.get('email')!.hasError('required')">
              <span class="text-danger">{{'Form.Errors.EmailRequired' | translate}}</span>
            </div>
          </div>
          <div *ngIf="contactusForm!.get('email')!.touched || contactusForm!.get('email')!.dirty">
            <div *ngIf="contactusForm!.get('email')!.hasError('email')">
              <span class="text-danger">{{'Form.Errors.EmailInvalid' | translate}}</span>
            </div>
          </div>
          <div *ngIf="contactusForm!.get('email')!.touched || contactusForm!.get('email')!.dirty">
            <div *ngIf="contactusForm!.get('email')!.hasError('invalidBusinessEmail')">
              <span class="text-danger">{{'Form.Errors.EmailInvalidBusiness' | translate}}</span>
            </div>
          </div>
        </div>

        <div class="row p-0" style="--bs-gutter-x: 0.5rem">
          <div class="form-floating mb-3 col-md-6">
            <input formControlName="phoneNumber" placeholder="{{'Form.Fields.Phone' | translate}}" id="contact_phone"
              name="contact_phone" type="text" class="form-control" />
            <label for="contact_phone">{{'Form.Fields.Phone' | translate}}</label>
            <div *ngIf="contactusForm!.get('phoneNumber')!.touched || contactusForm!.get('phoneNumber')!.dirty">
              <div *ngIf="contactusForm!.get('phoneNumber')!.hasError('pattern')">
                <span class="text-danger">{{'Form.Errors.PhoneNumberPattern' | translate}}</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <select formControlName="industryId" class="form-select form-select-lg" aria-label="Default select example">
              <option selected value="">{{'Form.OptionsLabels.SelectIndusrty' | translate}}</option>
              <option *ngFor="let ind of industries" [value]="ind.id">{{ind.name}}</option>
            </select>
          </div>
          <div *ngIf="contactusForm!.get('industryId')!.touched || contactusForm!.get('industryId')!.dirty">
            <div *ngIf="contactusForm!.get('industryId')!.hasError('required')">
              <span class="text-danger">{{'Form.Errors.IndustryRequired' | translate}}</span>
            </div>
          </div>
        </div>

        <div class="row p-0" style="--bs-gutter-x: 0.5rem">
          <div class="form-floating mb-3 col-md-6">
            <input formControlName="companyName" placeholder="{{'Form.Fields.CompanyName' | translate}}"
              id="contact_company" name="contact_company" type="text" class="form-control" />
            <label for="contact_company">{{'Form.Fields.CompanyName' | translate}}</label>

            <div *ngIf="contactusForm!.get('companyName')!.touched || contactusForm!.get('companyName')!.dirty">
              <div *ngIf="contactusForm!.get('companyName')!.hasError('required')">
                <span class="text-danger">{{'Form.Errors.CompanyNameRequired' | translate}}</span>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3 col-md-6">
            <input formControlName="role" placeholder="{{'Form.Fields.Role' | translate}}" id="contact_role"
              name="contact_role" type="text" class="form-control" />
            <label for="contact_role">{{'Form.Fields.Role' | translate}}</label>
            <div *ngIf="contactusForm!.get('role')!.touched || contactusForm!.get('role')!.dirty">
              <div *ngIf="contactusForm!.get('role')!.hasError('required')">
                <span class="text-danger">{{'Form.Errors.RoleRequired' | translate}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <textarea formControlName="message" placeholder="{{'Form.Fields.Message' | translate}}" id="contact_message"
            name="contact_message" class="form-control" rows="3" style="min-height: 120px"></textarea>
          <label for="contact_message">{{'Form.Fields.Message' | translate}}</label>
          <div *ngIf="contactusForm!.get('message')!.touched || contactusForm!.get('message')!.dirty">
            <div *ngIf="contactusForm!.get('message')!.hasError('required')">
              <span class="text-danger">{{'Form.Errors.MessageRequired' | translate}}</span>
            </div>
          </div>
        </div>

        <button type="submit" (mouseenter)="setAllTouched(contactusForm!)" class="btn btn-primary"
          [disabled]="!contactusForm!.valid">{{'Buttons.SendMessage' | translate}}</button>
      </form>
    </div>
    <div class="col-lg-6">
      <img src="./assets/img/contact.svg" width="700" class="img-fluid" />
    </div>
  </div>
</div>


<div class="modal fade" id="joinBeta" tabindex="-1" role="dialog" aria-labelledby="joinBetaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="joinBetaModalLabel">{{'Buttons.JoinOurBetaProgram' | translate}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="joinBetaForm!">

          <div class="mb-3">
            <label for="contact_name" class="form-label">{{'Form.Fields.FullName' | translate}}</label>
            <input type="text" formControlName="fullName" class="form-control" id="contact_name"
              placeholder="{{'Form.Placeholders.FullNameWithEnter' | translate}}">
            <div *ngIf="joinBetaForm!.get('fullName')!.touched || joinBetaForm!.get('fullName')!.dirty">
              <div *ngIf="joinBetaForm!.get('fullName')!.hasError('required')">
                <span class="text-danger">{{'Form.Errors.FullNameRequired' | translate}}</span>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="contact_industry" class="form-label">{{'Form.Fields.Industry' | translate}}</label>
            <select id="contact_industry" formControlName="industryId" class="form-select mb-3 "
              aria-label="Default select example">
              <option selected value="">{{'Form.OptionsLabels.SelectIndusrty' | translate}}</option>
              <option *ngFor="let ind of industries" [value]="ind.id">{{ind.name}}</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="contact_email" class="form-label">{{'Form.Fields.Email' | translate}}</label>
            <input type="text" class="form-control" formControlName="email" id="contact_email"
              placeholder="{{'Form.Placeholders.EmailWithEnter' | translate}}">
            <div *ngIf="joinBetaForm!.get('email')!.touched || joinBetaForm!.get('email')!.dirty">
              <div *ngIf="joinBetaForm!.get('email')!.hasError('required')">
                <span class="text-danger">{{'Form.Errors.EmailRequired' | translate}}</span>
              </div>
            </div>
            <div *ngIf="joinBetaForm!.get('email')!.touched || joinBetaForm!.get('email')!.dirty">
              <div *ngIf="joinBetaForm!.get('email')!.hasError('email')">
                <span class="text-danger">{{'Form.Errors.EmailInvalid' | translate}}</span>
              </div>
            </div>
            <div *ngIf="joinBetaForm!.get('email')!.touched || joinBetaForm!.get('email')!.dirty">
              <div *ngIf="joinBetaForm!.get('email')!.hasError('invalidBusinessEmail')">
                <span class="text-danger">{{'Form.Errors.EmailInvalidBusiness' | translate}}</span>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="contact_phone">{{'Form.Fields.Phone' | translate}}</label>
            <input formControlName="phoneNumber" placeholder="{{'Form.Placeholders.PhoneNumberWithEnter' | translate}}"
              id="contact_phone" name="contact_phone" type="text" class="form-control" />
            <div *ngIf="joinBetaForm!.get('phoneNumber')!.touched || joinBetaForm!.get('phoneNumber')!.dirty">
              <div *ngIf="joinBetaForm!.get('phoneNumber')!.hasError('pattern')">
                <span class="text-danger">{{'Form.Errors.PhoneNumberPattern' | translate}}</span>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="contact_title" class="form-label">{{'Form.Fields.Title' | translate}}</label>
            <input type="text" class="form-control" formControlName="title" id="contact_title"
              placeholder="{{'Form.Placeholders.TitleWithEnter' | translate}}">
          </div>

          <div class="mb-3">
            <label for="contact_company" class="form-label">{{'Form.Fields.CompanyName' | translate}}</label>
            <input type="text" class="form-control" formControlName="companyName" id="contact_company"
              placeholder="{{'Form.Placeholders.CompanyNameWithEnter' | translate}}">
          </div>

        </form>


      </div>



      <div class="modal-footer">
        <button type="button" (mouseover)="setAllTouched(joinBetaForm!)" (click)="onJoinBetaSubmit()"
          [disabled]="!joinBetaForm!.valid" class="btn btn-danger" id="successAddTicket">
          {{'Buttons.Join' | translate}}
        </button>
        <button #closeJoinBetaBTN type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          {{'Buttons.Close' | translate}}
        </button>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="schDemo" tabindex="-1" role="dialog" aria-labelledby="scheduleDemoModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="scheduleDemoModalLabel">{{'Buttons.ScheduleADemo' | translate}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="scheduleDemoForm!">

          <div class="mb-3">
            <label for="contact_name" class="form-label">{{'Form.Fields.FullName' | translate}}</label>
            <input type="text" formControlName="fullName" class="form-control" id="contact_name"
              placeholder="{{'Form.Placeholders.FullNameWithEnter' | translate}}">
            <div *ngIf="scheduleDemoForm!.get('fullName')!.touched || scheduleDemoForm!.get('fullName')!.dirty">
              <div *ngIf="scheduleDemoForm!.get('fullName')!.hasError('required')">
                <span class="text-danger">{{'Form.Errors.FullNameRequired' | translate}}</span>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="contact_industry" class="form-label">{{'Form.Fields.Industry' | translate}}</label>
            <select id="contact_industry" formControlName="industryId" class="form-select mb-3 "
              aria-label="Default select example">
              <option selected value="">{{'Form.OptionsLabels.SelectIndusrty' | translate}}</option>
              <option *ngFor="let ind of industries" [value]="ind.id">{{ind.name}}</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="contact_email" class="form-label">{{'Form.Fields.Email' | translate}}</label>
            <input type="text" class="form-control" formControlName="email" id="contact_email"
              placeholder="{{'Form.Placeholders.EmailWithEnter' | translate}}">
            <div *ngIf="scheduleDemoForm!.get('email')!.touched || scheduleDemoForm!.get('email')!.dirty">
              <div *ngIf="scheduleDemoForm!.get('email')!.hasError('required')">
                <span class="text-danger">{{'Form.Errors.EmailRequired' | translate}}</span>
              </div>
            </div>
            <div *ngIf="scheduleDemoForm!.get('email')!.touched || scheduleDemoForm!.get('email')!.dirty">
              <div *ngIf="scheduleDemoForm!.get('email')!.hasError('email')">
                <span class="text-danger">{{'Form.Errors.EmailInvalid' | translate}}</span>
              </div>
            </div>
            <div *ngIf="scheduleDemoForm!.get('email')!.touched || scheduleDemoForm!.get('email')!.dirty">
              <div *ngIf="scheduleDemoForm!.get('email')!.hasError('invalidBusinessEmail')">
                <span class="text-danger">{{'Form.Errors.EmailInvalidBusiness' | translate}}</span>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="contact_phone">{{'Form.Fields.Phone' | translate}}</label>
            <input formControlName="phoneNumber" placeholder="{{'Form.Placeholders.PhoneNumberWithEnter' | translate}}"
              id="contact_phone" name="contact_phone" type="text" class="form-control" />
            <div *ngIf="scheduleDemoForm!.get('phoneNumber')!.touched || scheduleDemoForm!.get('phoneNumber')!.dirty">
              <div *ngIf="scheduleDemoForm!.get('phoneNumber')!.hasError('pattern')">
                <span class="text-danger">{{'Form.Errors.PhoneNumberPattern' | translate}}</span>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="contact_title" class="form-label">{{'Form.Fields.Title' | translate}}</label>
            <input type="text" class="form-control" formControlName="title" id="contact_title"
              placeholder="{{'Form.Placeholders.TitleWithEnter' | translate}}">
          </div>

          <div class="mb-3">
            <label for="contact_company" class="form-label">{{'Form.Fields.CompanyName' | translate}}</label>
            <input type="text" class="form-control" formControlName="companyName" id="contact_company"
              placeholder="{{'Form.Placeholders.CompanyNameWithEnter' | translate}}">
          </div>

        </form>
      </div>



      <div class="modal-footer">
        <button type="button" (mouseenter)="setAllTouched(scheduleDemoForm!)" (click)="onScheduleDemoSubmit()"
          [disabled]="!scheduleDemoForm!.valid" class="btn btn-danger" id="successAddTicket">
          {{'Buttons.ScheduleADemo' | translate}}
        </button>
        <button #closeScheduleDemoBTN type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          {{'Buttons.Close' | translate}}
        </button>
      </div>

    </div>
  </div>
</div>