<!-- Hero Section -->
<div class="container-fluid min-vh-50" style="padding-top: 140px">
  <div class="row text-center-xs d-middle justify-content-evenly">
    <!-- note: z-index on columns are because of AOS plugin -->
    <div class="col-12 col-md-5 pb-5 z-index-2 d-flex justify-content-start" data-aos="fade-up" data-aos-delay="0">
      <div class="mb-5 ps-4">
        <h2 class="fw-bold mb-5" style="font-size: 42px">
          Revolutionize Your Operations with
          <span class="text-danger">PnP.ai</span>
        </h2>

        <p class="fw-medium mb-6" style="font-size: 22px">
          where we make AI integration seamless and accessible for SMEs.
        </p>
        <div class="d-flex">
          <a class="btn btn-danger px-4" href="./online-pnp-signup.html">Join Our Beta Program</a>
          <a class="btn px-4 border-1 border-dark text-dark pnp-second-btn shadow-lg-hover hover" href="">Schedule A
            Demo</a>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-6 pb-5 pt-4 pe-0 z-index-1" data-aos="fade-up" data-aos-delay="200">
      <!-- svg image -->
      <img class="img-fluid" src="./assets/img/hero-img.svg" />
    </div>
  </div>
</div>

<!-- Feature Section -->
<div class="container-fluid min-vh-50 pt-4">
  <div class="row text-center-xs d-middle justify-content-evenly">
    <!-- note: z-index on columns are because of AOS plugin -->
    <div class="col-12 col-md-5 order-2 order-md-1 pb-5 z-index-2 d-flex justify-content-start" data-aos="fade-up"
      data-aos-delay="0">
      <div class="mb-5 ps-4">
        <h5 class="fs-2 fw-bold mb-5 mt-6">
          Explore endless possibilities with
          <span class="text-danger">PnP.ai</span>
        </h5>
        <p class="h3 fw-medium mb-6">
          where we make AI integration seamless and accessible for SMEs.
        </p>
        <div class="mb-5">
          <img src="./assets/img/features-group.svg" alt="" class="img-fluid" />
        </div>
        <a class="btn btn-danger px-4" href="./online-pnp-signup.html">Join Our Beta Program</a>
      </div>
    </div>
    <div class="col-12 col-md-5 order-1 order-md-2 pb-5 pt-7 z-index-1" data-aos="fade-up" data-aos-delay="200">
      <!-- svg image -->
      <img class="img-fluid" src="./assets/img/features-img.svg" />
    </div>
  </div>
</div>

<!-- New Section -->
<div class="mt-6 bg-white">
  <div class="nav d-flex nav-pills justify-content-center" role="tablist" style="position: relative; top: 44px">
    <!-- tab 1 -->
    <a class="nav-link mb-3 p-4 rounded border border-primary text-gray-800 shadow-xs bg-white bg-primary-active active"
      id="tab-btn-v-1" href="#tab-v-1" aria-controls="tab-v-1" data-bs-toggle="pill" role="tab" aria-selected="true">
      <h3 class="h4 d-block fw-light mb-0">Before PnP.ai</h3>
    </a>
    <!-- tab 2 -->
    <a class="nav-link mb-3 p-4 rounded border border-primary text-gray-800 shadow-xs bg-white bg-primary-active"
      id="tab-btn-v-2" href="#tab-v-2" aria-controls="tab-v-2" data-bs-toggle="pill" role="tab" aria-selected="false"
      tabindex="-1">
      <h3 class="h4 d-block fw-light mb-0">After PnP.ai</h3>
    </a>
  </div>

  <div class="col-12">
    <div class="tab-content before-bg-container pt-6">
      <!-- content tab 1 -->
      <div class="tab-pane fade active show" id="tab-v-1" aria-labelledby="tab-btn-v-1" role="tabpanel">
        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex justify-content-center p-5">
            <img class="img-fluid rounded ps-6" src="./assets/img/before-2-img.svg" />
          </div>

          <div class="col-lg-6" style="
              display: flex;
              flex-direction: column;
              justify-content: center;
            ">
            <img class="img-fluid rounded ps-6" src="./assets/img/before-3-img.svg" />
          </div>
        </div>
      </div>

      <!-- content tab 2 -->
      <div class="tab-pane fade" id="tab-v-2" aria-labelledby="tab-btn-v-2" role="tabpanel">
        <div class="row justify-content-between">
          <div class="col-md-5 d-flex justify-content-center p-5">
            <img class="img-fluid rounded ps-6" src="./assets/img/after-2-img.svg" width="500" />
          </div>

          <div class="col-md-6" style="
              display: flex;
              flex-direction: column;
              justify-content: center;
            ">
            <img class="img-fluid rounded ps-6" src="./assets/img/after-3-img.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Prices  Section -->
<div class="bg-white" id="prices_section">
  <!-- BILLING SWITCHER -->
  <div id="section_pricing" class="position-relative z-index-2 justify-content-center d-flex">
    <div class="p-2 rounded bg-white col-5 mt-6 py-4">
      <!-- Billing Switcher -->
      <div class="d-flex justify-content-center">
        <span class="text-gray-600 pe-4 fs-3">Monthly</span>

        <label class="form-switch form-switch-pill form-switch-primary" style="top: 9px">
          <input type="checkbox" value="1" checked data-count-target=".pricetable-count"
            (change)="onPlanPeriodChange($event)" />
          <i></i>
        </label>

        <span class="text-gray-600 fs-3">Annual</span>
      </div>
      <!-- /Billing Switcher -->
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-4 mb-4" *ngFor="let item of plans; index as idx">
        <div class="pricing-table p-3">
          <div class="p-3">
            <div class="text-white px-3 py-2 rounded-2 mb-4 text-center d-flex align-items-center justify-content-evenly {{
                plansStyles[idx].title_class
              }}">
              <img src="{{ plansStyles[idx].title_icon }}" width="80" />
              <h2 class="fw-bold mb-0 text-white fs-3">{{ item.name }}</h2>
            </div>
            <h3 class="h4 text-center">
              <span class="fs-4 fw-normal">$</span>
              <span class="pricetable-count display-4 fw-medium price-tag {{
                  plansStyles[idx].number_class
                }}" data-toggle="count" data-count-decimals="" data-count-from="0" data-count-to="255"
                data-count-duration="1000" data-count-toggle='[
                  {"from":"0", "to":"255", "duration":800},
                  {"from":"255", "to":"299", "duration":800}
              ]'>{{ monthlyPlanChecked ? (item.monthly_price | number) : (item.monthly_price_annual_plan |
                number)}}</span>
              <span class="fs-4 fw-normal">/mo</span>
            </h3>
          </div>
          <div class="pricing-features">
            <div class="d-flex flex-column align-items-center bg-light p-3 rounded-2 mb-3">
              <div class="price-quarter-icon-container d-flex align-items-center">
                <img src="{{ plansStyles[idx].annual_icon }}" width="20" />
                <p class="mb-0 ms-2 text-gray-600" style="font-size: 14px">
                  Annual Payment
                </p>
              </div>
              <div class="d-flex mt-2">
                <p class="mb-0">
                  <b>${{ item.annual_price | number }}</b> per year
                  <b *ngIf="item.annual_discount">({{ item.annual_discount }}% discount)</b>
                </p>
              </div>
            </div>
            <div *ngIf="item.quarter_price" class="d-flex flex-column align-items-center bg-light p-3 rounded-2 mb-3">
              <div class="price-quarter-icon-container d-flex align-items-center">
                <img src="{{ plansStyles[idx].quarter_icon }}" width="25" />
                <p class="mb-0 ms-2 text-gray-600" style="font-size: 14px">
                  Quarterly Payment
                </p>
              </div>
              <div class="d-flex mt-2">
                <p class="mb-0">
                  <b>${{ item.quarter_price | number }}</b> per quarter
                  <b *ngIf="item.quarter_discount">({{ item.quarter_discount }}% discount)</b>
                </p>
              </div>
            </div>
          </div>
          <div *ngIf="item.has_trial" class="{{ plansStyles[idx].trial_class }}"
            [style.backgroundColor]="plansStyles[idx].trial_bg_color"
            style="font-size: 12px; padding: 10px; border-radius: 6px">
            Enjoy a {{ item.trial_period }}-{{ item.trial_period_unit }} trial
            with basic features free of charge.
          </div>
          <div class="my-3 mx-4 border-top"></div>

          <div class="bg-light py-3 px-2 d-flex flex-column">
            <ng-container *ngFor="let feature of item.features; index as fidx">
              <div class="d-flex" [class.mb-5]="fidx + 1 != item.features.length">
                <i class="fi fi-check {{ plansStyles[idx].feature_icon_class }}"></i>
                <p class="fw-bold mb-0 feature-price-p">
                  {{ feature }}
                </p>
              </div>
            </ng-container>
          </div>

          <a class="{{ plansStyles[idx].button_class }} button" (click)="buyPlan(item.id)">
            Get Started
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Reseller  Section -->
<div class="section bg-light mt-1 py-6 reseller-container">
  <div class="container">
    <p class="fw-bold fs-2 text-center text-white">
      Reseller Package - Partnership
    </p>
    <div class="row">
      <div class="col-6 col-md-4 py-4 m-0-xs d-lg-flex">
        <div
          class="bg-white rounded-lg shadow-md p-3 d-flex flex-column justify-content-center align-content-center align-items-center text-center">
          <div class="flex-none me-3">
            <i class="fi fi-brain fs-1"></i>
          </div>
          <div class="flex-lg-fill">
            <h2 class="h5 fw-bold">Custom Integration Discussions</h2>
            <p class="mb-0">
              Reach out to PnPAI to discuss the terms of custom integration and
              partnership opportunities.
            </p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 py-4 m-0-xs d-lg-flex">
        <div
          class="bg-white rounded-lg shadow-md p-3 d-flex flex-column justify-content-center align-content-center align-items-center text-center">
          <div class="flex-none me-3">
            <i class="fi fi-graph fs-1"></i>
          </div>
          <div class="flex-lg-fill">
            <h2 class="h5 fw-bold">White-Label Solutions</h2>
            <p class="mb-0">
              Offer PnPAI's AI solutions as part of your software offerings with
              white-label options.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 py-4 m-0-xs d-lg-flex">
        <div
          class="bg-white rounded-lg shadow-md p-3 d-flex flex-column justify-content-center align-content-center align-items-center text-center">
          <div class="flex-none me-3">
            <i class="fi fi-lightbulb fs-1"></i>
          </div>
          <div class="flex-lg-fill">
            <h2 class="h5 fw-bold">Dedicated Account Manager</h2>
            <p class="mb-0">
              Benefit from a dedicated account manager to facilitate
              collaboration and support.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6 col-md-4 m-0-xs d-lg-flex">
        <div
          class="bg-white rounded-lg shadow-md p-3 d-flex flex-column justify-content-center align-content-center align-items-center text-center py-4">
          <div class="flex-none me-3">
            <i class="fi fi-folder-full fs-1"></i>
          </div>
          <div class="flex-lg-fill">
            <h2 class="h5 fw-bold">Flexible Licensing</h2>
            <p class="mb-0">
              Explore flexible licensing options to align with your reselling
              strategy.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 m-0-xs d-lg-flex">
        <div
          class="bg-white rounded-lg shadow-md p-3 d-flex flex-column justify-content-center align-content-center align-items-center text-center py-4">
          <div class="flex-none me-3">
            <i class="fi fi-chart-up fs-1"></i>
          </div>
          <div class="flex-lg-fill">
            <h2 class="h5 fw-bold">Joint Marketing Efforts</h2>
            <p class="mb-0">
              Partner with PnPAI on joint marketing efforts to expand your reach
              and customer base
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 text-center text-white">
      <p>
        This package is tailored for software houses seeking to enhance their
        solutions with AI capabilities and looking for a reliable AI partner
        with flexible licensing options. It allows software houses to seamlessly
        integrate PnPAI into their offerings and provide AI-driven solutions to
        their clients.
      </p>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <a class="btn px-4" style="background-color: #001949; color: white" href="./online-pnp-signup.html">Schedule A
        Demo</a>
    </div>
  </div>
</div>

<!-- intro  Section -->
<div class="container-fluid min-vh-50 pt-4 mb-5">
  <h2 class="h1 fw-bold mb-5 mt-6 text-center container-sm">
    Unlocking Innovation Through Artificial Intelligence with
    <span class="text-danger">PnP.ai</span>
  </h2>
  <div class="container text-center-xs justify-content-between">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="bg-primary shadow-md rounded-2 p-4" style="height: 620px;">
          <div class="pnp-first-big-card-bg d-flex flex-column justify-content-between" style="height: 100%;">
            <div>
              <p class="fw-bold fs-3 text-white pb-3">Simplify AI Implementation</p>
              <p class="fs-6 text-white">
                We understand that every business is unique. That’s why PnPAI goes
                the extra mile by offering expert consultation services.
              </p>
            </div>
            <img src="./assets/img/first-card-img.svg" alt="" srcset="" />
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="bg-danger shadow-md rounded-2" style="height: 620px;">
          <div class="d-flex flex-column justify-content-between" style="height: 100%;">
            <img src="./assets/img/second-card-img.png" alt="" srcset="" />
            <div class="p-3">
              <p class="fw-bold fs-3 text-white">
                Optimize Efficiency and Enhance Customer Experiences
              </p>
              <p class="fs-6 text-white">
                Upon registration, businesses are prompted to select their
                specific industry.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="p-3 shadow-md rounded-2" style="background-color: #002469; height: 620px;">
          <div class="d-flex flex-column justify-content-between" style="height: 100%;">
            <div>
              <p class="fw-bold fs-3 text-white pb-3">Accelerate Your AI Journey</p>
              <p class="fs-6 text-white" style="margin-bottom: 185px">
                Say goodbye to the complexities of AI development. PnPAI
                specializes in crafting ready-to-deploy, containerized AI
                solutions.
              </p>
            </div>
            <img src="./assets/img/third-card-img.svg" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Our Process  Section -->
<div class="section text-white bg-primary" id="ourprocess">
  <div class="container-fluid">
    <h2 class="h1 fw-bold text-center mb-4 text-white">Our Process</h2>
    <div class="row justify-content-between p-4">
      <div class="col-md-7">
        <div class="d-flex flex-column">
          <div class="row">
            <div class="col-lg-6 d-flex mb-5 p-4 our-process-point-container">
              <!-- icon -->
              <div class="fi mdi-filter_1 fs-1"></div>
              <div class="mx-4">
                <h3 class="fs-5">Research:</h3>
                <p class="fs-5">
                  We kickstart each use-case with thorough research into the
                  most advanced algorithms relevant to specific industry
                  use-cases. This ensures we employ cutting-edge methods for
                  optimal accuracy and outcomes.
                </p>
              </div>
            </div>
            <div class="col-lg-6 d-flex mb-5 p-4 our-process-point-container">
              <!-- icon -->
              <div class="fi mdi-filter_2 fs-1"></div>
              <div class="mx-4">
                <h3 class="fs-5">Implementation:</h3>
                <p class="fs-5">
                  Next, we put our research into action by implementing the most
                  promising algorithms identified during the research phase.
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 d-flex mb-5 p-4 our-process-point-container">
              <!-- icon -->
              <div class="fi mdi-filter_3 fs-1"></div>
              <div class="mx-4">
                <h3 class="fs-5">Testing:</h3>
                <p class="fs-5">
                  Rigorous testing follows implementation. We evaluate and
                  benchmark the performance of the developed algorithms to
                  guarantee they meet the highest standards.
                </p>
              </div>
            </div>

            <div class="col-lg-6 d-flex mb-5 p-4 our-process-point-container">
              <!-- icon -->
              <div class="fi mdi-filter_4 fs-1"></div>
              <div class="mx-4">
                <h3 class="fs-5">Deployment:</h3>
                <p class="fs-5">
                  The final step is deployment. We roll out the latest use-case
                  versions, complete with state-of-the-art AI algorithms, making
                  them available to all our customers for enhanced business
                  capabilities.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <img src="./assets/img/our-process-img.svg" class="img-fluid" />
      </div>
    </div>
  </div>
</div>

<!-- integration  Section -->
<div class="container-fluid min-vh-50 mb-5 mt-6">
  <div class="row text-center-xs justify-content-evenly">
    <!-- note: z-index on columns are because of AOS plugin -->
    <div class="col-12 col-md-5 order-2 order-md-1 z-index-2 d-flex justify-content-start" data-aos="fade-up"
      data-aos-delay="0">
      <div class="p-6 pnp-intg-bg">
        <h5 class="fs-2 fw-bold mb-6">
          <span class="text-danger">PnP.ai</span>
          Integration
        </h5>
        <p class="fw-medium mb-6" style="font-size: 22px">
          Time is of the essence in today's fast-paced business landscape. PnPAI
          enables you to fast-track your AI implementation.
        </p>
        <a class="btn btn-danger px-4" href="./online-pnp-signup.html">Schedule A Demo</a>
      </div>
    </div>
    <div class="col-12 col-md-5 order-1 order-md-2 z-index-1 d-flex justify-content-center" data-aos="fade-up"
      data-aos-delay="200">
      <!-- svg image -->
      <img class="" style="width: 75%" src="./assets/img/intg-img.svg" />
    </div>
  </div>
</div>

<!-- White paper section  Section -->
<div class="bg-white-paper-container">
  <div class="container container-fluid">
    <h2 class="h1 fw-bold mb-5 pt-4 text-center container-sm text-white">
      <p class="fs-4 fw-normal">Embracing Simplicity:</p>
      Facilitating Accessible AI for All
    </h2>
    <div class="bg-white shadow-xlg rounded-lg p-4">
      <div class="white-paper-circles d-flex justify-content-end pb-4 border-bottom-lg">
        <div class="bg-success me-2" style="border-radius: 100%; height: 20px; width: 20px"></div>
        <div class="bg-warning me-2" style="border-radius: 100%; height: 20px; width: 20px"></div>
        <div class="bg-danger me-2" style="border-radius: 100%; height: 20px; width: 20px"></div>
      </div>

      <div class="row mt-lg-5 mt-0">
        <div class="col-lg-5 order-2 order-lg-1 d-flex justify-content-center mt-lg-0 mt-5">
          <img src="./assets/img/whitepaper-img.svg" alt="" />
        </div>
        <div class="col-lg-7 order-1 order-lg-2 d-flex flex-column justify-content-between">
          <p class="fs-4 fw-bold p-4">
            Proactively envisioned multimedia based expertise and cross-media
            growth strategies. Seamlessly visualize quality intellectual capital
            without superior.
          </p>
          <div class="row">
            <div class="col-lg-4 mb-4 text-center d-flex flex-column align-items-center">
              <div class="bg-primary-soft rounded-lg p-2">
                <p class="mb-0 fw-bold fs-2 px-2">16</p>
              </div>
              <div class="mt-2">
                <p class="mb-0 fw-bold text-danger">
                  Industry Accelerator (Usecases)
                </p>
              </div>
            </div>
            <div class="col-lg-4 mb-4 text-center d-flex flex-column align-items-center">
              <div class="bg-primary-soft rounded-lg p-2">
                <p class="mb-0 fw-bold fs-2 px-3">2</p>
              </div>
              <div class="mt-2">
                <p class="mb-0 fw-bold text-danger">Industries</p>
              </div>
            </div>
            <div class="col-lg-4 mb-4 text-center d-flex flex-column align-items-center">
              <div class="bg-primary-soft rounded-lg p-2">
                <p class="mb-0 fw-bold fs-2 px-3">1</p>
              </div>
              <div class="mt-2">
                <p class="mb-0 fw-bold text-danger">White Paper</p>
              </div>
            </div>
          </div>
        </div>
        <div class="order-3 d-flex justify-content-center">
          <a class="white-paper-button bg-danger" href="./online-pnp-signup.html">DOWNLOAD WhitePaper NOW</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Newsletter  Section -->
<div class="section bg-light py-5 py-lg-4 mb-4" style="margin-top: 420px">
  <div class="container">
    <div class="row g-4 align-items-center">
      <div class="col-10 mx-auto col-lg-8 text-center-md text-center-xs">
        <h3 class="m-0">
          Let's connect to share the
          <span class="text-danger">best deals and articles</span>!
        </h3>
      </div>

      <div class="col-10 mx-auto col-lg-4">
        <form novalidate="" method="post" action="#subscribe_url"
          class="bs-validate py-3 mt-1 input-group-over input-group-pill was-validated" id="js_2MuVq7xgDx">
          <input required="" class="form-control form-control-lg fw-light text-center-md text-center-xs"
            name="subscriber_email" type="email" value="" placeholder="email address..."
            aria-label="email address..." />

          <button aria-label="subscribe" type="submit" class="btn bg-transparent shadow-none">
            <i class="fi fi-send fs-4"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Contact us  Section -->
<div class="container mt-5 mb-5" id="contactus">
  <h3 class="fw-bold mb-5">How can we help?</h3>
  <div class="row">
    <div class="col-lg-6 mb-4">
      <form [formGroup]="contactusForm!" (ngSubmit)="onContactUsSubmit()">
        <div class="form-floating mb-3">
          <input required="" placeholder="Name" formControlName="name" id="contact_name" name="contact_name" type="text"
            class="form-control" />
          <label for="contact_name">Name</label>
          <div *ngIf="contactusForm!.get('name')!.touched || contactusForm!.get('name')!.dirty">
            <div *ngIf="contactusForm!.get('name')!.hasError('required')">
              <span class="text-danger">First Name is required.</span>
            </div>
          </div>

        </div>

        <div class="form-floating mb-3">
          <input required="" formControlName="email" placeholder="Email" id="contact_email" name="contact_email"
            type="email" class="form-control" />
          <label for="contact_email">Email</label>
          <div *ngIf="contactusForm!.get('email')!.touched || contactusForm!.get('email')!.dirty">
            <div *ngIf="contactusForm!.get('email')!.hasError('required')">
              <span class="text-danger">Email is required.</span>
            </div>
          </div>
          <div *ngIf="contactusForm!.get('email')!.touched || contactusForm!.get('email')!.dirty">
            <div *ngIf="contactusForm!.get('email')!.hasError('invalidBusinessEmail')">
              <span class="text-danger">Email must be a business email.</span>
            </div>
          </div>
        </div>

        <div class="row p-0" style="--bs-gutter-x: 0.5rem">
          <div class="form-floating mb-3 col-md-6">
            <input required="" formControlName="phoneNumber" placeholder="Phone" id="contact_phone" name="contact_phone"
              type="text" class="form-control" />
            <label for="contact_phone">Phone</label>
            <div *ngIf="contactusForm!.get('phoneNumber')!.touched || contactusForm!.get('phoneNumber')!.dirty">
              <div *ngIf="contactusForm!.get('phoneNumber')!.hasError('pattern')">
                <span class="text-danger">Phone Number must start with 00 or +.</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <select required="" formControlName="industryId" class="form-select form-select-lg"
              aria-label="Default select example">
              <option selected value="">Select Indusrty</option>
              <option *ngFor="let ind of industries" [value]="ind.id">{{ind.name}}</option>
            </select>
          </div>
          <div *ngIf="contactusForm!.get('industryId')!.touched || contactusForm!.get('industryId')!.dirty">
            <div *ngIf="contactusForm!.get('industryId')!.hasError('required')">
              <span class="text-danger">Industry is required.</span>
            </div>
          </div>
        </div>

        <div class="row p-0" style="--bs-gutter-x: 0.5rem">
          <div class="form-floating mb-3 col-md-6">
            <input required="" formControlName="companyName" placeholder="Company" id="contact_company"
              name="contact_company" type="text" class="form-control" />
            <label for="contact_company">Company</label>

            <div *ngIf="contactusForm!.get('companyName')!.touched || contactusForm!.get('companyName')!.dirty">
              <div *ngIf="contactusForm!.get('companyName')!.hasError('required')">
                <span class="text-danger">Company Name is required.</span>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3 col-md-6">
            <input required="" formControlName="role" placeholder="Role" id="contact_role" name="contact_role"
              type="text" class="form-control" />
            <label for="contact_role">Role</label>
            <div *ngIf="contactusForm!.get('role')!.touched || contactusForm!.get('role')!.dirty">
              <div *ngIf="contactusForm!.get('role')!.hasError('required')">
                <span class="text-danger">Role is required.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <textarea required="" formControlName="message" placeholder="Message" id="contact_message"
            name="contact_message" class="form-control" rows="3" style="min-height: 120px"></textarea>
          <label for="contact_message">Message</label>
          <div *ngIf="contactusForm!.get('message')!.touched || contactusForm!.get('message')!.dirty">
            <div *ngIf="contactusForm!.get('message')!.hasError('required')">
              <span class="text-danger">Message is required.</span>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Send Message</button>
      </form>
    </div>
    <div class="col-lg-6">
      <img src="./assets/img/contact.svg" width="700" class="img-fluid" />
    </div>
  </div>
</div>


<button hidden #guestWarning type="button" class="btn btn-primary" data-toggle="modal" data-target="#guestModal">

</button>

<div class="modal fade" id="guestModal" tabindex="-1" role="dialog" aria-labelledby="guestModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="guestModalLabel">Welcome</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You need to have an account before joining us.
      </div>
      <div class="modal-footer">
        <a class="btn px-4 border-1 border-dark text-dark" [routerLink]="loginRoute"
          [queryParams]="{ 'returnUrl': landingRoute }">Log in</a>
        <a class="btn px-4 btn-danger" [routerLink]="registerRoute" [queryParams]="{ 'returnUrl': landingRoute }">Sign
          Up</a>
      </div>
    </div>
  </div>
</div>