<!-- Header -->
<header id="header" class="shadow-xs">
    <!-- Navbar -->
    <div class="container-fluid position-relative">
        <nav class="fixed-top bg-white navbar navbar-expand-lg navbar-light justify-content-lg-between justify-content-md-inherit  shadow-lg">
            <div class="w-100">
                <div class=" bg-danger-light w-100 py-2 px-5" >
                    <div class="d-flex justify-content-between">
                        <div class="d-flex " >
                            <p class="fw-bold " >🚀 Soft Launch Special:</p> 
                            <a class="ac-underline ms-2 me-5 cursor-pointer text-danger text-decoration-underline"> Subscribe for FREE! </a>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p style="font-size: 14px;">Get full access for the next 6 months and be part of our journey from the start. <span class="text-primary">Unlock your AI experience with PnPAI today! 🌟</span></p>
                            <i class="fi fi-close ms-4" ></i>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-100 align-items-center px-5">

                    <div class="align-items-start">
                        <!-- mobile menu button : show -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMainNav"
                            aria-controls="navbarMainNav" aria-expanded="false" aria-label="Toggle navigation">
                            <svg width="25" viewBox="0 0 20 20">
                                <path d="M 19.9876 1.998 L -0.0108 1.998 L -0.0108 -0.0019 L 19.9876 -0.0019 L 19.9876 1.998 Z">
                                </path>
                                <path
                                    d="M 19.9876 7.9979 L -0.0108 7.9979 L -0.0108 5.9979 L 19.9876 5.9979 L 19.9876 7.9979 Z">
                                </path>
                                <path
                                    d="M 19.9876 13.9977 L -0.0108 13.9977 L -0.0108 11.9978 L 19.9876 11.9978 L 19.9876 13.9977 Z">
                                </path>
                                <path
                                    d="M 19.9876 19.9976 L -0.0108 19.9976 L -0.0108 17.9976 L 19.9876 17.9976 L 19.9876 19.9976 Z">
                                </path>
                            </svg>
                        </button>
        
                        <!-- navbar : brand (logo) -->
                        <a class="navbar-brand" [routerLink]="isUserLoggedIn ? dashboardRoute: landingRoute">
                            <img src="./assets/logos/pnp-color-logo.png" height="38" alt="..." />
                        </a>
                    </div>
        
                    <!-- Menu -->
                    <div class="collapse navbar-collapse navbar-animate-fadein" id="navbarMainNav">
                        <!-- navbar : mobile menu -->
                        <div class="navbar-xs d-none">
                            <!-- .sticky-top -->
                            <!-- mobile menu button : close -->
                            <button class="navbar-toggler pt-0" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarMainNav" aria-controls="navbarMainNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <svg width="20" viewBox="0 0 20 20">
                                    <path
                                        d="M 20.7895 0.977 L 19.3752 -0.4364 L 10.081 8.8522 L 0.7869 -0.4364 L -0.6274 0.977 L 8.6668 10.2656 L -0.6274 19.5542 L 0.7869 20.9676 L 10.081 11.679 L 19.3752 20.9676 L 20.7895 19.5542 L 11.4953 10.2656 L 20.7895 0.977 Z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="landingRoute"> {{'Routes.Home' | translate}} </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link button" [routerLink]="landingRoute" fragment='prices_section'>
                                    {{'Routes.Prices' | translate}}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link button" [routerLink]="landingRoute" fragment='ourprocess'>
                                    {{'Routes.OurProccess' | translate}}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link button" [routerLink]="landingRoute" fragment='contactus'>
                                    {{'Routes.ContactUs' | translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
        
                    <!-- OPTIONS -->
                    <ng-container *ngIf="isUserLoggedIn; else loggedOut">
                        <app-account-tab></app-account-tab>
                    </ng-container>
                    <ng-template #loggedOut>
                        <a class="btn px-4 border-1 border-dark text-dark" [routerLink]="loginRoute">{{'Buttons.LogIn'
                            | translate}}</a>
        
                        <a class="btn px-4 btn-danger" [routerLink]="registerRoute">{{'Buttons.SignUp' | translate}}</a>
                    </ng-template>
                </div>
            </div>


            <!-- /OPTIONS -->
        </nav>
    </div>
    <!-- /Navbar -->
</header>
<!-- /Header -->