<!-- Footer  Section -->
<footer id="footer" class="bg-gray-900 text-white">
    <!-- footer cta -->
    <div class="container tet-white py-5 d-lg-flex flex-row align-items-lg-center">
        <div class="row g-4 align-items-center">
            <h3 class="col-lg-8 h2 mb-0">
                {{'Footer.Message' | translate}}
            </h3>
            <div class="col text-lg-end">
                <a [routerLink]="registerRoute" target="_blank" rel="noopener"
                    class="btn btn-danger rounded-pill d-inline-flex align-items-center px-4">
                    <span class="text-white me-2">{{'Buttons.StartNow' | translate}}</span>
                    <svg width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                        class="bi bi-arrow-right-short text-white" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z">
                        </path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <!-- /footer cta -->

    <!-- line divider -->
    <hr class="bg-gray-500 my-0 container" />

    <div class="container py-5">
        <div class="row g-4">
            <div class="col-12 col-lg-4 mb-4">
                <!-- logo -->
                <img width="110" src="./assets/logos/pnp-white-logo.svg" alt="..." />

                <div class="my-4">
                    <!-- copyright -->
                    <p class="small mb-0">© 2024 {{'Labels.PNPAiCompanyName' | translate}}</p>
                    <p class="small mb-0">{{'Footer.PNPAIRights.RightsReserved' | translate}}</p>
                </div>

                <!-- social icons -->
                <a href="https://www.linkedin.com/company/pnpai/" target="_blank"
                    class="btn btn-sm text-white transition-hover-top mb-2 rounded-circle bg-gray-700" rel="noopener"
                    aria-label="linkedin page">
                    <i class="fi fi-social-linkedin"></i>
                </a>

                <a href="https://youtube.com/@PnPAI?si=gm5Asuim4KSpiPTQ" target="_blank"
                    class="btn btn-sm text-white transition-hover-top mb-2 rounded-circle bg-gray-700" rel="noopener"
                    aria-label="youtube page">
                    <i class="fi fi-social-youtube"></i>
                </a>
            </div>

            <div class="col-12 col-lg-4 mb-4">
                <h3 class="small mb-4">{{'Footer.GetInTouch.Title' | translate}}</h3>

                <p class="small col-md-10">
                    {{'Footer.GetInTouch.Description' | translate}}
                </p>

                <div class="small d-flex align-items-start my-3">
                    <svg class="me-3 flex-none my-1" height="24px" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                        <circle cx="12" cy="10" r="3"></circle>
                    </svg>
                    <ul class="list-unstyled p-0 m-0 w-100">
                        <li>{{'Footer.GetInTouch.CompanyAddress.Street' | translate}}</li>
                        <li>{{'Footer.GetInTouch.CompanyAddress.State' | translate}}</li>
                        <li>{{'Footer.GetInTouch.CompanyAddress.Number' | translate}}</li>
                    </ul>
                </div>

                <div class="small d-flex align-items-start my-3">
                    <svg class="me-3 flex-none my-1" height="24px" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z">
                        </path>
                    </svg>
                    <ul class="list-unstyled p-0 m-0 w-100">
                        <li>
                            {{'Labels.Phone' | translate}}:
                            <a href="tel:18005652390" class="text-white text-dashed">{{'Footer.GetInTouch.Phone'
                                | translate}}</a>
                        </li>
                        <li>
                            {{'Labels.Email' | translate}}:
                            <a href="mail:myemail@gmail.com" class="text-white text-dashed">{{'Footer.GetInTouch.Email'
                                | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg-4 mb-4">
                <h3 class="small mb-4">{{'Footer.LearnMore.Title' | translate}}</h3>

                <ul class="list-unstyled">
                    <li class="list-item mb-2">
                        <i class="fi fi-arrow-end me-2 smaller"></i>
                        <a class="text-gray-400" [routerLink]="landingRoute" fragment='contactus'>{{'Routes.ContactUs'
                            |
                            translate}}</a>
                    </li>
                    <!-- <li class="list-item mb-2">
                        <i class="fi fi-arrow-end me-2 smaller"></i>
                        <a class="text-gray-400" [routerLink]="landingRoute" fragment=''>{{'Routes.AboutUs' |
                            translate}}</a>
                    </li> -->
                    <li class="list-item mb-2">
                        <i class="fi fi-arrow-end me-2 smaller"></i>
                        <a class="text-gray-400" [routerLink]="privacyPolicyRoute">{{'Routes.PrivacyPolicy' |
                            translate}}</a>
                    </li>
                    <li class="list-item mb-2">
                        <i class="fi fi-arrow-end me-2 smaller"></i>
                        <a class="text-gray-400" [routerLink]="faqRoute">{{'Routes.FAQ' | translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>