<div style="margin-top:20px">

    <div id="usecases-container" class="rounded-2 shadow-lg pnp-use-cases-online-container">

        <div class="pnp-use-cases-container row" *ngFor="let item of industries" id="{{item.id}}">
            <p class="mb-3">{{item.name}} {{'NewUsecase.UsecasesLabel' | translate}} :</p>

            <ng-container *ngFor="let case of item.usecases">
                <div class="col-lg-4 col-md-6 usecase-card" *ngIf="case.status != usecaseStatus.Inactive">
                    <button class="shadow-md text-dark rounded text-center border-0 px-5 pnp-usecase-option"
                        [ngClass]="{'usecase-comingsoon':case.status == usecaseStatus.Comingsoon}"
                        [disabled]="case.status == usecaseStatus.Comingsoon" id="{{case.id}}"
                        (click)="selectCase(case.id)"
                        [class.pnp-usecase-option-selected]="selectedCaseValue == case.id">
                        <p class="">{{case.name}}</p>
                        <small *ngIf="case.status == usecaseStatus.Comingsoon" class="badge bg-gray-700">Coming soon
                            ...</small>
                    </button>
                </div>
            </ng-container>
        </div>

        <div class="row">
            <div>
                <button id="step-one-next-btn" type="button" class="btn btn-primary m-4 float-end"
                    (click)="generateToken()" [disabled]="selectedCaseValue == '' ">
                    {{'Buttons.GenerateToken' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>