<header id="header" class="d-flex align-items-center shadow-xs header-style">

  <div class="container-fluid position-relative">

    <app-nav-bar [showSidebar]="showSidebar"></app-nav-bar>

  </div>
</header>
<div class="container-scroller">
  <app-side-bar (toggleSideBarEvent)="toggleSidebar()"></app-side-bar>
  <div class="page-body-wrapper" [class.page-body-wrapper-collapsed]="!showSidebar">
    <main id="middle" class="flex-fill mx-auto main-style">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>