<!-- Account Settings -->
<li class=" ms-4 list-inline-item mx-1 dropdown">

    <a role="button" href="#" id="dropdownAccountOptions" class="rounded-circle text-primary-hover dropdown-toggle"
        data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" aria-haspopup="true"
        aria-label="Messages">
        <!-- Account Img -->
        <div class="d-flex align-items-center">
            <img src="assets/img/300-1.jpg" width="50px"
                style="border-radius:50%; box-shadow: 8px 4px 12px rgb(0 0 0 /18%)!important;">
            <div class="ms-2 d-flex text-truncate">
                <p class="m-0 fw-bold" style="color:#13226b">Kareem Amin</p>
                <i class="fi fi-arrow-down ms-2"></i>
            </div>
        </div>
    </a>
    <div aria-labelledby="dropdownAccountOptions"
        class="dropdown-menu dropdown-menu-clean dropdown-menu-navbar-autopos dropdown-menu-invert dropdown-fadeindown p-0 mt-2 w-300">
        <!-- user detail -->
        <div class="dropdown-header rounded rounded-bottom-0 text-white small p-4" style="background-color: #13226b;">
            <span class="d-block fw-medium text-truncate">Kareem AMin</span>
            <span class="d-block smaller fw-medium text-truncate">kareem.amin@gmail.com</span>
            <span class="d-block smaller"><b>Last Login:</b> 2019-09-03 01:48</span>
        </div>
        <div class="dropdown-divider mb-3"></div>

        <a href="#" class="dropdown-item text-truncate">
            <span class="fw-medium">My Profile</span>
            <small class="d-block text-muted smaller">account settings and more</small>
        </a>

        <!-- <a href="#" class="dropdown-item text-truncate">
          <small class="badge bg-success-soft float-end">1 new</small>
          <span class="fw-medium">My Messages</span>
          <small class="d-block text-muted smaller">inbox, projects, tasts</small>
        </a> -->

        <a href="#" class="dropdown-item text-truncate">
            <small class="badge bg-danger-soft float-end">2 days left</small>
            <span class="fw-medium">My Subscription</span>
            <small class="d-block text-muted smaller">your monthly billing</small>
        </a>

        <!-- <a href="#" class="dropdown-item text-truncate">
          <span class="fw-medium">Account Settings</span>
          <small class="d-block text-muted smaller">profile, password and more...</small>
        </a> -->

        <!-- <a href="#" class="dropdown-item text-truncate">
          <span class="fw-medium">Upgrade</span>
          <small class="d-block text-muted smaller">upgrade your account</small>
        </a> -->

        <div class="dropdown-divider mb-0 mt-3"></div>

        <a href="#" class="prefix-icon-ignore dropdown-footer dropdown-custom-ignore fw-medium py-3 px-4">
            <i class="fi fi-power float-start"></i>
            Log Out
        </a>
    </div>

</li>