<li class="list-inline-item mx-1 dropdown notification-list">
    <a href="#" id="dropdownNotificationOptions" class="rounded-circle text-primary-hover dropdown-toggle pnp-notify"
        data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" aria-haspopup="true"
        aria-label="Notifications" (click)="containNew = false">
        <span class=" badge bg-danger pnp-notify-icon-alert"
            [class.fade-out]="!containNew">{{notifications.length}}</span>
        <!-- svg icon -->
        <span class="pnp-notify-svg-icon">
            <svg width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path fill="currentColor"
                        d="M17,12 L18.5,12 C19.3284271,12 20,12.6715729 20,13.5 C20,14.3284271 19.3284271,15 18.5,15 L5.5,15 C4.67157288,15 4,14.3284271 4,13.5 C4,12.6715729 4.67157288,12 5.5,12 L7,12 L7.5582739,6.97553494 C7.80974924,4.71225688 9.72279394,3 12,3 C14.2772061,3 16.1902508,4.71225688 16.4417261,6.97553494 L17,12 Z">
                    </path>
                    <rect fill="#000000" opacity="0.3" x="10" y="16" width="4" height="4" rx="2"></rect>
                </g>
            </svg>
        </span>
    </a>
    <div aria-labelledby="dropdownNotificationOptions"
        class="dropdown-menu dropdown-menu-clean dropdown-menu-navbar-autopos dropdown-fadeindown end-0 p-0 mt-2 w-400">
        <div class="max-vh-50 scrollable-vertical">
            <a *ngFor="let item of notifications" href="{{item.link}}"
                class="clearfix dropdown-item fw-medium p-3 border-bottom border-light overflow-hidden">

                <span *ngIf="!item.isRead" [ngClass]="{'bg-success':item.state == 0, 'bg-danger':item.state == 1}"
                    class="badge float-end fw-normal mt-1">{{'Notifications.NewState' | translate}}</span>

                <div *ngIf="item.state == 0" class="float-start avatar avatar-sm rounded-circle bg-success fs-5">
                    <i class="fi fi-check text-white"></i>
                </div>

                <div *ngIf="item.state == 1" class="float-start avatar avatar-sm rounded-circle bg-danger fs-5">
                    <i class="fi fi-close text-white"></i>
                </div>

                <p class="small fw-bold m-0 text-truncate">{{item.message}}</p>
                <small class="d-block smaller fw-normal text-muted">
                    {{item.date | date:'MMM dd, yyyy / hh:mm:ss a'}}</small>
            </a>
        </div>
    </div>
</li>