<div class="row g-0  min-vh-100 align-items-center">
  <div class="col-lg-12 text-center text-lg-start overflow-hidden z-index-2">
    <div class="row">

      <div class="col-5">
        <div class="d-flex justify-content-center pt-6">
          <img src="./assets/img/pnp-signup-img.svg" alt="" srcset="" width="500">
        </div>

        <div class="pnp-register-message">
          <div class="ms-5 mb-4 d-flex justify-content-center">
            <img src="./assets/logos/pnp-color-logo.png" alt="" srcset="" width="300">
          </div>
          <p class="text-center small mb-2 pb-3 border-bottom text-dark ms-5 mb-4">
            {{'Register.ThanksParagraphStart' | translate}} <span class="fw-bold pnp-name-color">PnP.ai 's</span>
            {{'Register.ThanksParagraphEnd' | translate}}
          </p>
        </div>
      </div>

      <div class="col-md-7 d-flex justify-content-center py-5">
        <div class="col-12 col-lg-10 px-6 py-2 shadow-lg rounded-2 my-2">
          <div class="d-flex flex-column align-items-center ">
            <h1 class="fw-bold mb-3 mt-5">{{'Register.SignUpFormTitle' | translate}}</h1>

          </div>

          <div>
            <form [formGroup]="registrationForm!" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="mb-3 col-4">
                  <label for="exampleFormControlInput1" class="form-label ">Company Name</label>
                  <input type="text" formControlName="companyName" class="form-control form-control-sm"
                    placeholder="Enter Company Name">

                  <div
                    *ngIf="registrationForm!.get('companyName')!.touched || registrationForm!.get('companyName')!.dirty">
                    <div *ngIf="registrationForm!.get('companyName')!.hasError('required')">
                      <span class="text-danger">Company Name is required.</span>
                    </div>
                  </div>
                </div>
                <div class="mb-3 col-4">
                  <label for="exampleFormControlInput1" class="form-label ">Country</label>
                  <select class="form-select form-select-sm" aria-label="Default select example"
                    (change)="selectCities($event)" formControlName="country">
                    <option selected value="">Select Country</option>
                    <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                  </select>
                  <div *ngIf="registrationForm!.get('country')!.touched || registrationForm!.get('country')!.dirty">
                    <div *ngIf="registrationForm!.get('country')!.hasError('required')">
                      <span class="text-danger">Country is required.</span>
                    </div>
                  </div>
                </div>
                <div class="mb-3 col-4">
                  <label for="exampleFormControlInput1" class="form-label ">City</label>
                  <select class="form-select form-select-sm" aria-label="Default select example" formControlName="city">
                    <option selected value="">Select City</option>
                    <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
                  </select>
                  <div *ngIf="registrationForm!.get('city')!.touched || registrationForm!.get('city')!.dirty">
                    <div *ngIf="registrationForm!.get('city')!.hasError('required')">
                      <span class="text-danger">City is required.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col-8">
                  <label for="exampleFormControlInput1" class="form-label ">Street</label>
                  <input type="text" formControlName="street" class="form-control form-control-sm"
                    placeholder="Enter Street">
                </div>
                <div class="mb-3 col-4">
                  <label for="exampleFormControlInput1" class="form-label ">Postal Code</label>
                  <input type="number" formControlName="postalCode" class="form-control form-control-sm"
                    placeholder="Enter Postal Code">
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col-8">
                  <label for="exampleFormControlInput1" class="form-label ">Company Website</label>
                  <input type="text" formControlName="websiteurl" class="form-control form-control-sm"
                    placeholder="Enter Company Website">
                </div>
                <div class="mb-3 col-4">
                  <label for="exampleFormControlInput1" class="form-label ">Industry</label>
                  <select required class="form-select form-select-sm" aria-label="Default select example"
                    formControlName="industryId">
                    <option selected value="">Select Indusrty</option>
                    <option *ngFor="let ind of industries" [value]="ind.id">{{ind.name}}</option>
                  </select>
                  <div
                    *ngIf="registrationForm!.get('industryId')!.touched || registrationForm!.get('industryId')!.dirty">
                    <div *ngIf="registrationForm!.get('industryId')!.hasError('required')">
                      <span class="text-danger">Industry is required.</span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="my-3 mx-4 border-top"></div>
              <div class="row">
                <div class="mb-3 col-4">
                  <label for="exampleFormControlInput1" class="form-label ">First Name</label>
                  <input type="text" formControlName="firstName" class="form-control form-control-sm"
                    placeholder="Enter First Name">
                  <div *ngIf="registrationForm!.get('firstName')!.touched || registrationForm!.get('firstName')!.dirty">
                    <div *ngIf="registrationForm!.get('firstName')!.hasError('required')">
                      <span class="text-danger">First Name is required.</span>
                    </div>
                  </div>
                </div>
                <div class="mb-3 col-4">
                  <label for="exampleFormControlInput1" class="form-label ">Last Name</label>
                  <input type="text" formControlName="lastName" class="form-control form-control-sm"
                    placeholder="Enter Last Name">
                  <div *ngIf="registrationForm!.get('lastName')!.touched || registrationForm!.get('lastName')!.dirty">
                    <div *ngIf="registrationForm!.get('lastName')!.hasError('required')">
                      <span class="text-danger">Last Name is required.</span>
                    </div>
                  </div>
                </div>
                <div class="mb-3 col-4">
                  <label for="exampleFormControlInput1" class="form-label ">Phone Number</label>
                  <input type="number" formControlName="phoneNumber" class="form-control form-control-sm"
                    placeholder="Enter Phone Number">
                  <div
                    *ngIf="registrationForm!.get('phoneNumber')!.touched || registrationForm!.get('phoneNumber')!.dirty">
                    <div *ngIf="registrationForm!.get('phoneNumber')!.hasError('pattern')">
                      <span class="text-danger">Phone Number must start with 00 or +.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col-12">
                  <label for="exampleFormControlInput1" class="form-label ">Email </label>
                  <input type="text" formControlName="email" class="form-control form-control-sm"
                    placeholder="Enter Email">
                  <div *ngIf="registrationForm!.get('email')!.touched || registrationForm!.get('email')!.dirty">
                    <div *ngIf="registrationForm!.get('email')!.hasError('required')">
                      <span class="text-danger">Email is required.</span>
                    </div>
                  </div>
                  <div *ngIf="registrationForm!.get('email')!.touched || registrationForm!.get('email')!.dirty">
                    <div *ngIf="registrationForm!.get('email')!.hasError('invalidBusinessEmail')">
                      <span class="text-danger">Email must be a business email.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col-12">
                  <label for="exampleFormControlInput1" class="form-label ">Password </label>
                  <input type="password" formControlName="password" class="form-control form-control-sm"
                    placeholder="Enter Password">
                  <div *ngIf="registrationForm!.get('password')!.touched || registrationForm!.get('password')!.dirty">
                    <div *ngIf="registrationForm!.get('password')!.hasError('required')">
                      <span class="text-danger">Password is required.</span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- GDPR CONSENT -->
              <div class="mb-3 border p-3 rounded">
                <div class="form-check">
                  <input class="form-check-input" id="contact_gdpr" name="contact_gdpr" type="checkbox"
                    formControlName="acceptTerms">
                  <label class="form-check-label" for="contact_gdpr">
                    I do accept PnP <a class="text-decoration-none" href="" target="_blank">terms & conditions</a>.
                  </label>
                </div>
              </div>

              <!-- submit button -->
              <div class="d-grid mb-4" (mouseenter)="setAllTouched()">
                <button type="submit" [disabled]="!registrationForm!.valid" class="btn btn-primary">
                  <span>Sign Up</span>
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<button hidden #showresult type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registeration result</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"
        [ngStyle]="{'background-color': (resgiterationSuccess) ? '#c3ffa9 !important;' : '#ffeded !important;'}">
        {{resultMessage}}
      </div>
      <div class="modal-footer">
        <button *ngIf="!resgiterationSuccess" type="button" class="btn btn-secondary"
          data-dismiss="modal">Close</button>
        <a *ngIf="resgiterationSuccess" routerLink="{{loginLink}}" type="button" class="btn btn-secondary"
          data-dismiss="modal">Login</a>
      </div>
    </div>
  </div>
</div>