<nav class="sidebar sidebar-offcanvas shadow z-index-100" id="sidebar">

  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center" style="position: absolute; top:-80px">
    <a class="sidebar-brand brand-logo"><img src="assets/logos/pnp-color-logo.png" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini"><img src="assets/logos/pnp-color-mark.png" alt="logo" /></a>
  </div>

  <ul class="nav">
    <button class="align-self-center border-0 bg-white mb-4" type="button" data-toggle="minimize">
      <span class="fi fi-bars-2 text-dark"></span>
    </button>

    <li class="nav-item menu-items mb-3 active">
      <a class="nav-link" href="pnp-main-page.html">
        <span class="menu-icon">
          <i class="fi fi-shape-squared-unequal"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item menu-items mb-3">
      <a class="nav-link" href="pnp-models-page.html">
        <span class="menu-icon">
          <i class="fi fi-squared-graph"></i>
        </span>
        <span class="menu-title">Models</span>
      </a>
    </li>
    <li class="nav-item menu-items mb-3">
      <a class="nav-link" href="pnp-connectors-page.html">
        <span class="menu-icon">
          <i class="fi fi-shape-3dots"></i>
        </span>
        <span class="menu-title">Connectors</span>
      </a>
    </li>

    <li class="nav-item menu-items mb-3">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="fi fi-support-headphones"></i>
        </span>
        <span class="menu-title">Support Center</span>
        <i class="fi fi-arrow-down ms-4"></i>
      </a>
      <div class="collapse" id="ui-basic2">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pnp-support-center-page.html">Overview</a></li>
          <li class="nav-item"> <a class="nav-link" href="pnp-ticket-page.html">Tickets</a></li>
          <li class="nav-item"> <a class="nav-link" href="">Tutorial</a></li>
          <li class="nav-item"> <a class="nav-link" href="">FAQ</a></li>
          <li class="nav-item"> <a class="nav-link" href="">License</a></li>
          <li class="nav-item"> <a class="nav-link" href="">Contact Us</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item menu-items mb-3">
      <a class="nav-link" href="">
        <span class="menu-icon">
          <i class="fi fi-folder-full"></i>
        </span>
        <span class="menu-title">Documentation</span>
      </a>
    </li>
  </ul>
</nav>
