<div id="commands-container" class="rounded-2 shadow-lg pnp-command-online-container">
    <div class="pnp-container-snippet">
        <h3>{{'NewUsecase.PullImageLabel' | translate}}</h3>
        <p class="mb-5">{{'NewUsecase.PullImageDesc' | translate}}</p>
        <ng-container *ngIf="volumes && volumes != {}">
            <div *ngFor="let volume of volumes | keyvalue">
                <label>{{'NewUsecase.DirectoryName' | translate}} {{volume.value!.for!.toString()}}</label>
                <input type="text" [value]="volume.value!.oldValue" (input)="setVolumeName($event, volume.key)" />
            </div>
        </ng-container>
        <div class="copy-token-div">
            <button type="button" id="copy-commands-btn" class="copy-btn" #copyBTN
                [cdkCopyToClipboard]="getDockerComposeFile()"
                (cdkCopyToClipboardCopied)="onClipboardCopy($event)">{{'Buttons.Copy' | translate}}</button>
            <button type="button" class="copy-btn" (click)="downloadDockerCompose()">
                {{'Buttons.Download' | translate}}</button>
        </div>
        <pre class="pnp-pre d-flex m-0 pnp-commands-code"><code class="text-white">{{dockerComposeFile}}</code> </pre>
    </div>

    <div style="width: 100%;" class="d-flex justify-content-between">
        <button id="step-two-back-btn" type="button" class="btn btn--outline-primary m-4" (click)="getBack()">
            {{'Buttons.Back' | translate}}
        </button>
        <button id="step-three-next-btn" type="button" class="btn btn-primary m-4" (click)="finish()">
            {{'Buttons.Finish' | translate}}
        </button>
    </div>
</div>