<div id="commands-container" class="rounded-2  pnp-command-online-container">

    <div class="bg-white pnp-container-snippet shadow-lg">

        <h3>{{'NewUsecase.PullImageLabel' | translate}}</h3>
        <p class="">{{'NewUsecase.PullImageDesc' | translate}}</p>

    </div>
    <div class="bg-white pnp-container-snippet shadow-lg">

        <p class="fs-4 fw-bold mb-3">{{'NewUsecase.PullImageDockerComposeTitle' | translate}}</p>
        <p class="fs-4 fw-bold mb-3">{{'NewUsecase.PullImageDockerComposeDownloadTitle' | translate}}: <span
                class="fw-normal fs-6"> <em>{{'NewUsecase.PullImageDockerComposeDownloadHint' | translate}}</em> </span>
        </p>

        <p class="fs-5 fw-bold mb-3">
            {{'NewUsecase.PullImageDockerComposeLaunchTitle' | translate}}:
        </p>

        <p class="fs-6 fw-bold mb-3">
            1- {{'NewUsecase.PullImageDockerComposeOpenTerminal' | translate}}
        </p>
        <p class="fs-6 fw-bold mb-3">
            2- {{'NewUsecase.PullImageDockerComposeNavigate' | translate}}
        </p>

        <p class="fs-6 fw-bold mb-3">
            3- {{'NewUsecase.PullImageDockerComposeExecute' | translate}}
        </p>
        <div class="copy-token-div">
            <button type="button" id="copy-commands-btn" class="copy-btn" #copyDockerComposeCommandBTN
                [cdkCopyToClipboard]="dockerComposeCommand"
                (cdkCopyToClipboardCopied)="onClipboardCopy($event, copyDockerComposeCommandBTN)">{{'Buttons.Copy' |
                translate}}</button>
        </div>
        <pre
            class="pnp-pre d-flex m-0 pnp-commands-code"><code class="text-white">{{dockerComposeCommand}}</code> </pre>


        <p class="fs-6 mt-5">
            {{'NewUsecase.PullImageDockerComposeCommandDesc' | translate}}
        </p>

        <p class="fs-5 fw-bold mt-5">
            {{'NewUsecase.PullImageFrontEndAccessTitle' | translate}}:
        </p>

        <p class="fs-6 fw-bold mb-3">
            {{'NewUsecase.PullImageFrontEndAccessOpenBrowser' | translate}}
        </p>
        <p class="fs-6 fw-bold mb-3">
            {{'NewUsecase.PullImageFrontEndAccessNavigateToLocalhost' | translate}}
        </p>

        <p class="fs-5 fw-bold mt-5">
            {{'Labels.LogIn' | translate}}:
        </p>

        <p class="fs-6 fw-bold mb-3">
            {{'Labels.Username' | translate}}:
        </p>
        <div class="copy-token-div">
            <button type="button" id="copy-username-btn" class="copy-btn" #copyUsernameBTN
                [cdkCopyToClipboard]="username"
                (cdkCopyToClipboardCopied)="onClipboardCopy($event, copyUsernameBTN)">{{'Buttons.Copy' |
                translate}}</button>
        </div>
        <pre class="pnp-pre d-flex m-0 pnp-commands-code"><code class="text-white">{{username}}</code> </pre>

        <p class="fs-6 fw-bold mb-3">
            {{'Labels.Password' | translate}}:
        </p>
        <div class="copy-token-div">
            <button type="button" id="copy-password-btn" class="copy-btn" #copyPasswordBTN
                [cdkCopyToClipboard]="password"
                (cdkCopyToClipboardCopied)="onClipboardCopy($event, copyPasswordBTN)">{{'Buttons.Copy' |
                translate}}</button>
        </div>
        <pre class="pnp-pre d-flex m-0 pnp-commands-code"><code class="text-white">{{password}}</code> </pre>


        <p class="fs-5 fw-bold mt-5">
            {{'NewUsecase.PullImageReadyMessage' | translate}}
        </p>
        <p class="fs-6 fw-bold mt-5 mb-3">
            {{'NewUsecase.PullImageSupportMessage' | translate}}
        </p>




        <ng-container *ngIf="volumes && volumes != {}">
            <div *ngFor="let volume of volumes | keyvalue">
                <label>{{'NewUsecase.DirectoryName' | translate}} {{volume.value!.for!.toString()}}</label>
                <input type="text" [value]="volume.value!.oldValue" (input)="setVolumeName($event, volume.key)" />
            </div>
        </ng-container>

        <div class="copy-token-div">
            <button type="button" id="copy-composefile-btn" class="copy-btn" #copyDockerComposeBTN
                [cdkCopyToClipboard]="getDockerComposeFile()"
                (cdkCopyToClipboardCopied)="onClipboardCopy($event, copyDockerComposeBTN)">{{'Buttons.Copy' |
                translate}}</button>
            <button type="button" class="copy-btn" (click)="downloadDockerCompose()">
                {{'Buttons.Download' | translate}}</button>
        </div>
        <pre class="pnp-pre d-flex m-0 pnp-commands-code"><code class="text-white">{{dockerComposeFile}}</code> </pre>

        <div style="width: 100%;" class="d-flex justify-content-between mt-5">
            <button id="step-two-back-btn" type="button" class="btn btn-outline-primary m-4" (click)="getBack()">
                {{'Buttons.Back' | translate}}
            </button>
            <button id="step-three-next-btn" type="button" class="btn btn-primary m-4" (click)="finish()">
                {{'Buttons.Finish' | translate}}
            </button>
        </div>
    </div>

</div>